Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort, pylint, pyspelling-docs, pyspelling-schemas

sort:
  name: sort dictionary
  entry: ./scripts/dictionary/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

pyspelling-docs:
  name: pyspelling-docs
  entry: ./scripts/dictionary/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-schemas:
  name: pyspelling-schemas
  entry: ./scripts/dictionary/pyspelling.sh
  language: script
  args:
  - json-schemas
  require_serial: true

Update dependency bandit to v1.8.3
  requirements-dev.txt
Due: none

Changelog bot 2025-03-11T07:27:15+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Update broken and permanent redirect links in documentation
  docs/frontend.rst
  docs/metadata.rst
  docs/test.rst
Due: sort, pyspelling-docs

Temporarily ignore files arg for pre-commit spellcheck
  scripts/dictionary/pyspelling.sh
Due: none

Fix pyspelling spellchecking urls. Make separate tasks for markdown and rst
  .pyspelling.yml
  docs/dictionary/wordlist.txt
Due: sort

Fix python pyspelling task. Fix spelling mistakes.
  .pyspelling.yml
  docs/dictionary/wordlist.txt
  metadata_backend/api/auth.py
  metadata_backend/api/handlers/common.py
  metadata_backend/api/handlers/static.py
  metadata_backend/api/middlewares.py
  metadata_backend/api/operators/file.py
  metadata_backend/api/operators/object.py
  metadata_backend/api/operators/object_base.py
  metadata_backend/api/operators/project.py
  metadata_backend/api/operators/submission.py
  metadata_backend/api/operators/user.py
  metadata_backend/conf/conf.py
  metadata_backend/database/db_service.py
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/validator.py
  metadata_backend/services/datacite_service_handler.py
  metadata_backend/services/metax_mapper.py
Due: sort, pylint

Add compound word option to pyspelling tasks. Re-do wordlist.
  .pyspelling.yml
  docs/dictionary/wordlist.txt
Due: sort

Changelog bot 2025-03-13T11:26:13+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Remove fstring interpolation from test logs
  scripts/metax_mappings/create_metax_references.py
  tests/integration/helpers.py
  tests/integration/mock_admin_api.py
  tests/integration/mock_auth.py
  tests/integration/mock_metax_api.py
  tests/integration/mongo.py
  tests/integration/test_drafts.py
  tests/integration/test_files.py
  tests/integration/test_metax.py
  tests/integration/test_object.py
  tests/integration/test_publications.py
  tests/integration/test_queries.py
  tests/integration/test_submissions.py
  tests/integration/test_users.py
Due: none

Fix spelling errors in comments
  tests/conftest.py
  tests/integration/conf.py
  tests/integration/mock_auth.py
  tests/unit/mockups.py
  tests/unit/test_server.py
Due: none

Update dependency astroid to v3.3.9
  requirements-dev.txt
Due: none

Update dependency cachetools to v5.5.2
  requirements-dev.txt
Due: none

Update dependency coverage to v7.6.12
  requirements-dev.txt
Due: none

Update dependency cryptography to v44.0.2
  requirements-dev.txt
  requirements.txt
Due: none

Use CSC PID ms to get DOIs for FEGA and generic workflows
  .env.example
  docker-compose-tls.yml
  docker-compose.yml
  docs/dictionary/wordlist.txt
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/health.py
  metadata_backend/conf/conf.py
  metadata_backend/conf/workflows/0_fega.json
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/conf/workflows/2_sdsx.json
  metadata_backend/helpers/schemas/workflow.json
  metadata_backend/server.py
  metadata_backend/services/datacite_service_handler.py
  metadata_backend/services/pid_ms_handler.py
  metadata_backend/services/service_handler.py
  tests/integration/test_bigpicture.py
  tests/integration/test_submissions.py
  tests/unit/test_doi.py
  tests/unit/test_handlers.py
  tests/unit/test_health.py
Due: sort, pylint, pyspelling-schemas

Changelog bot 2025-03-18T14:55:15+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Change OIDC_URL_TEST var for mock admin api
  docker-compose.yml
Due: none

Add bprems xml data to submission object
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/rems_proxy.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/conf/workflows/2_sdsx.json
  metadata_backend/helpers/schemas/submission.json
  metadata_backend/services/rems_service_handler.py
  metadata_backend/services/taxonomy_search_handler.py
  tests/http/publication_bp.http
  tests/integration/helpers.py
  tests/integration/mock_rems_api.py
  tests/integration/test_object.py
  tests/test_files/bprems/rems_put.xml
Due: pylint, pyspelling-schemas

Extend tests for publishing submissions
  metadata_backend/api/handlers/publish.py
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/conf/workflows/2_sdsx.json
  tests/integration/conftest.py
  tests/integration/helpers.py
  tests/integration/test_bigpicture.py
  tests/integration/test_files.py
  tests/integration/test_metax.py
  tests/integration/test_publications.py
  tests/integration/test_submissions.py
  tests/integration/test_users.py
  tests/test_files/dac/dac.json
  tests/test_files/dataset/dataset.json
  tests/test_files/policy/policy.json
  tests/unit/test_handlers.py
Due: pylint

Changelog bot 2025-03-19T16:36:18+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Fix typos and unnecessary codes
  metadata_backend/api/handlers/publish.py
  tests/integration/test_publications.py
  tests/test_files/dataset/dataset.json
Due: pylint

Update dependency aiohttp to v3.11.14
  requirements-dev.txt
  requirements.txt
Due: none

Update dependency cryptojwt to v1.9.4
  requirements-dev.txt
  requirements.txt
Due: none

Changelog bot 2025-03-21T13:02:44+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Reduce deprecation warnings
  metadata_backend/api/operators/object.py
  tests/integration/mock_doi_api.py
  tests/unit/test_operators.py
Due: pylint

Simplify get_submission_field behavior slightly
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/operators/submission.py
  metadata_backend/api/operators/user.py
  tests/unit/test_operators.py
Due: pylint

Refactor patch operations to submission
  docs/openapi.yml
  metadata_backend/api/handlers/submission.py
  tests/http/publication_bp.http
Due: sort, pylint

Update OpenAPI specifications
  LICENSE
  docs/openapi.yml
  metadata_backend/api/handlers/submission.py
Due: sort, pylint

Error when submission by the same name already exists
  metadata_backend/api/handlers/submission.py
  tests/integration/conftest.py
  tests/integration/test_submissions.py
  tests/unit/test_handlers.py
Due: pylint

Fix some typos
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/services/service_handler.py
  tests/integration/helpers.py
  tests/integration/mock_metax_api.py
Due: pylint

Unify post and put submission files
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/operators/file.py
  metadata_backend/server.py
  tests/http/publication_bp.http
  tests/integration/helpers.py
  tests/integration/test_files.py
  tests/integration/test_submissions.py
  tests/unit/test_handlers.py
  tests/unit/test_operators.py
  tests/unit/test_server.py
Due: pylint

Changelog bot 2025-03-31T13:07:54+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Return PID status as down when connection to PID cannot be established
  metadata_backend/services/pid_ms_handler.py
  tests/unit/test_health.py
Due: pylint

Refactor Datacite draft DOI creation into single method
  metadata_backend/services/datacite_service_handler.py
  tests/integration/test_bigpicture.py
Due: pylint

Rename doi tests to datacite tests. Fix datacite tests not being awaited.
  tests/unit/test_datacite.py
  tests/unit/test_doi.py
Due: none

Add DOI prefix checks to integration tests to verify correct DOI service is used
  metadata_backend/conf/conf.py
  tests/integration/conf.py
  tests/integration/mock_datacite_api.py
  tests/integration/mock_pid_api.py
  tests/integration/test_publications.py
Due: pylint

Move DOI integration tests to one file
  tests/unit/test_doi.py
  tests/unit/test_pid.py
Due: none

Add mock PID service
  .env.example
  Procfile
  docker-compose-tls.yml
  docker-compose.yml
  metadata_backend/conf/conf.py
  tests/integration/mock_datacite_api.py
  tests/integration/mock_pid_api.py
Due: pylint

Path conditions:
  sort: any of: ^(docs|.*md)
  pylint: any of: ^metadata_backend and \.py$
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-schemas: any of: ^metadata_backend/helpers/schemas/ and \.json$
