Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling-docs, pyspelling-schemas, unit-tests

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, develop, --branch, master]
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
      files: ^metadata_backend
    - id: pretty-format-json
      files: ^metadata_backend
      args:
      - --autofix
      - --indent=4
      - --no-ensure-ascii
      - --no-sort-keys
    - id: check-yaml
    - id: check-xml
      exclude: tests/test_files/study/SRP000539_invalid[0-9]?.xml

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    - id: black
      args: [-l, "120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-docstrings
        - flake8-annotations

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    - id: mypy
      args: [--ignore-missing-imports, metadata_backend/]
      pass_filenames: false
      additional_dependencies:
        - types-python-dateutil
        - types-ujson
        - types-requests

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    - id: bandit
      files: ^metadata_backend

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle

  - repo: https://github.com/PyCQA/doc8
    rev: 0.11.2
    hooks:
      - id: doc8
        args: ["--max-line-length=400"]

  - repo: https://github.com/APIDevTools/swagger-cli
    rev: v4.0.4
    hooks:
    - id: swagger-validation
      args: [validate]
      files: docs/specification.yml

  - repo: local
    hooks:
    - id: pyspelling-docs
      name: pyspelling-docs
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-schemas
      name: pyspelling-schemas
      entry: ./scripts/pyspelling.sh
      language: script
      args: [json-schemas]
      files: ^metadata_backend/helpers/schemas/
      types: [json]
      require_serial: true

    - id: unit-tests
      name: unit-tests
      entry: py.test
      args: [--exitfirst, --disable-warnings, tests/]
      files: ^(metadata_backend|tests|scripts)
      language: system
      pass_filenames: false

Manually add line numbers to xml validation errors
  CHANGELOG.md
  docs/specification.yml
  metadata_backend/helpers/validator.py
  tests/test_files/study/SRP000539_invalid6.xml
  tests/unit/test_handlers.py
Due: pyspelling-docs, unit-tests

add option to extend problem json error
  metadata_backend/api/middlewares.py
Due: unit-tests

update precommit dependencies
  .pre-commit-config.yaml
Due: none

changelog for additional error members
  CHANGELOG.md
Due: pyspelling-docs

refactor publish action for deprecated syntax
  .github/workflows/publish.yml
Due: none

address mypy none defaults
  metadata_backend/helpers/parser.py
  metadata_backend/services/service_handler.py
Due: unit-tests

changelog for mypy + publich action fixes
  CHANGELOG.md
Due: pyspelling-docs

hotfix publish action
  .github/workflows/publish.yml
Due: none

fix for docker file to make it work in actions
  Dockerfile
Due: none

changelog for hotfix publish action
  CHANGELOG.md
Due: pyspelling-docs

Rename submission.dac to submission.rems
  CHANGELOG.md
  docs/specification.yml
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/helpers/schemas/submission.json
  metadata_backend/server.py
  tests/http/publication_minimal.http
  tests/http/publication_rems.http
  tests/integration/helpers.py
  tests/integration/test_bigpicture.py
  tests/integration/test_metax.py
  tests/integration/test_publications.py
  tests/integration/test_submissions.py
  tests/integration/test_users.py
Due: pyspelling-docs, pyspelling-schemas, unit-tests

fix return types in db_service
  metadata_backend/database/db_service.py
Due: unit-tests

read submission files only those in ready status.
  metadata_backend/api/operators/file.py
Due: unit-tests

add problematic files to error response
  metadata_backend/api/operators/file.py
Due: unit-tests

check publish submission file status
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/operators/file.py
  tests/unit/test_handlers.py
Due: unit-tests

add raises to docs in file operator
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/operators/file.py
Due: unit-tests

check a key exists should be done after adding it
  metadata_backend/api/handlers/submission.py
Due: unit-tests

filter by status when reading submission files
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/operators/file.py
  tests/unit/test_handlers.py
Due: unit-tests

typo for file submission operations
  metadata_backend/api/handlers/submission.py
  metadata_backend/database/db_service.py
Due: unit-tests

update & remove submission files
  docs/specification.yml
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/operators/file.py
  metadata_backend/database/db_service.py
  metadata_backend/helpers/schemas/file.json
  metadata_backend/server.py
  tests/unit/test_server.py
Due: pyspelling-schemas, unit-tests
