Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort, pylint, pyspelling-docs, pyspelling-schemas

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, develop, --branch, master]
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
      files: ^metadata_backend
    - id: pretty-format-json
      files: ^metadata_backend
      args:
      - --autofix
      - --indent=4
      - --no-ensure-ascii
      - --no-sort-keys
    - id: check-yaml
    - id: check-xml
      exclude: tests/test_files/study/SRP000539_invalid[0-9]?.xml

  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
    - id: black
      args: [-l, "120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args: [--profile, black, --filter-files]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-docstrings
        - flake8-annotations

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
    - id: bandit
      files: ^metadata_backend

  - repo: https://github.com/APIDevTools/swagger-cli
    rev: v4.0.4
    hooks:
    - id: swagger-validation
      args: [validate]
      files: docs/openapi.yml

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.0
    hooks:
      - id: check-metaschema
        name: Validate schemas
        files: ^metadata_backend/helpers/schemas/.*\.json$

      - id: check-jsonschema
        name: Validate workflows
        files: ^metadata_backend/conf/workflows/.*\.json$
        args: ["--schemafile", "metadata_backend/helpers/schemas/workflow.json"]

      - id: check-dependabot
      - id: check-github-workflows

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.10'
    hooks:
    - id: vulture
      args: [metadata_backend/, whitelist_dead_code.py]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.8.0'
    hooks:
    -   id: mypy
        files: ^metadata_backend
        additional_dependencies:
          - types-python-dateutil
          - types-ujson
          - types-requests
        args: [--ignore-missing-imports]

  - repo: local
    hooks:
    - id: sort
      name: sort dictionary
      entry: ./scripts/dictionary/sort.sh
      language: script
      files: ^(docs|.*md)
      require_serial: true
      pass_filenames: false

    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      files: ^metadata_backend
      args:
        [
          -rn, # Only display messages
          -sn, # Don't display the score
        ]

    - id: pyspelling-docs
      name: pyspelling-docs
      entry: ./scripts/dictionary/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-schemas
      name: pyspelling-schemas
      entry: ./scripts/dictionary/pyspelling.sh
      language: script
      args: [json-schemas]
      files: ^metadata_backend/helpers/schemas/
      types: [json]
      require_serial: true

Add unit test for BP metadata object creation
  tests/unit/test_operators.py
Due: none

Generate BP ids for BP metadata objects
  metadata_backend/api/operators/object.py
Due: pylint

Add integration test to retrieve BP samples with accession ids
  tests/integration/test_bigpicture.py
Due: none

Modify workflow for Generic use case
  metadata_backend/conf/workflows/2_sdsx.json
Due: none

Changelog bot 2024-07-03T12:07:41+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Reformat the changelog
  CHANGELOG.md
Due: sort, pyspelling-docs

Generate script for fundingReferences
  docs/dictionary/wordlist.txt
  docs/openapi.yml
  metadata_backend/conf/conf.py
  metadata_backend/conf/metax_references/funding_references.json
  metadata_backend/helpers/schemas/submission.json
  metadata_backend/services/metax_mapper.py
  scripts/metax_mappings/create_metax_references.py
  scripts/metax_mappings/fetch_refs.sh
Due: sort, pylint, pyspelling-schemas

Changelog bot 2024-07-09T12:19:11+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Add integration tests for file operations
  tests/integration/helpers.py
  tests/integration/test_files.py
Due: none

Fix multiple bugs in updating and removing submission files. Split putting files to a submission to a separate function.
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/operators/file.py
  metadata_backend/server.py
Due: pylint

Fix operation bug in adding submission files to db. Fix typo
  metadata_backend/api/operators/file.py
  metadata_backend/database/db_service.py
Due: pylint

Test posting and getting files from multiple projects
  tests/integration/helpers.py
  tests/integration/test_files.py
Due: none

Refactor file tests to generate files that include full path
  tests/integration/helpers.py
  tests/integration/test_files.py
Due: none

Skip: Update dependency certifi to v2024.7.4 [SECURITY]
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update docker/build-push-action action to v5
  .github/workflows/production.yml
  .github/workflows/publish.yml
Due: none

Refactor file creation to include validation against schema. Fix file version creation bugs and add test.
  docs/dictionary/wordlist.txt
  metadata_backend/api/handlers/files.py
  metadata_backend/api/operators/file.py
  metadata_backend/helpers/schemas/file.json
  tests/integration/helpers.py
  tests/integration/test_files.py
Due: sort, pylint, pyspelling-schemas

Fix unit tests. Fix wrong length checksum examples in file schema
  metadata_backend/api/operators/file.py
  metadata_backend/helpers/schemas/file.json
  tests/unit/test_operators.py
Due: pylint, pyspelling-schemas

Skip: Update docker/build-push-action action to v6
  .github/workflows/production.yml
  .github/workflows/publish.yml
Due: none

Skip: Update docker/login-action action to v3
  .github/workflows/publish.yml
Due: none

Skip: Update dependency requests to v2.32.2 [SECURITY]
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update docker/metadata-action action to v5
  .github/workflows/publish.yml
Due: none

Skip: Update github/codeql-action action to v3
  .github/workflows/codeql.yml
Due: none
