Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling-docs, pyspelling-schemas, unit-tests

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, develop, --branch, master]
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
      files: ^metadata_backend
    - id: pretty-format-json
      files: ^metadata_backend
      args:
      - --autofix
      - --indent=4
      - --no-ensure-ascii
      - --no-sort-keys
    - id: check-yaml
    - id: check-xml
      exclude: tests/test_files/study/SRP000539_invalid[0-9]?.xml

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    - id: black
      args: [-l, "120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-docstrings
        - flake8-annotations

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    - id: mypy
      args: [--ignore-missing-imports, metadata_backend/]
      pass_filenames: false
      additional_dependencies:
        - types-python-dateutil
        - types-ujson
        - types-requests

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    - id: bandit
      files: ^metadata_backend

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle

  - repo: https://github.com/PyCQA/doc8
    rev: 0.11.2
    hooks:
      - id: doc8
        args: ["--max-line-length=400"]

  - repo: https://github.com/APIDevTools/swagger-cli
    rev: v4.0.4
    hooks:
    - id: swagger-validation
      args: [validate]
      files: docs/specification.yml

  - repo: local
    hooks:
    - id: pyspelling-docs
      name: pyspelling-docs
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-schemas
      name: pyspelling-schemas
      entry: ./scripts/pyspelling.sh
      language: script
      args: [json-schemas]
      files: ^metadata_backend/helpers/schemas/
      types: [json]
      require_serial: true

    - id: unit-tests
      name: unit-tests
      entry: py.test
      args: [--exitfirst, --disable-warnings, tests/]
      files: ^(metadata_backend|tests|scripts)
      language: system
      pass_filenames: false

Make changes generated by pre-commit
  .github/ISSUE_TEMPLATE/user_story.md
  .pre-commit-config.yaml
  metadata_backend/conf/metax_references/fields_of_science.json
  metadata_backend/conf/metax_references/languages.json
  metadata_backend/helpers/schemas/bp_bpsample.json
Due: pyspelling-docs, pyspelling-schemas, unit-tests

Update openapi specs and changelog
  CHANGELOG.md
  docs/specification.yml
Due: pyspelling-docs

Change published submission responses to 405
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/middlewares.py
  metadata_backend/api/operators.py
  tests/integration/helpers.py
  tests/integration/test_bigpicture.py
  tests/integration/test_submissions.py
  tests/unit/test_middlewares.py
  tests/unit/test_operators.py
Due: unit-tests

Refactor check_object_in_submission checking method
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/xml_submission.py
  metadata_backend/api/operators.py
  tests/unit/test_handlers.py
  tests/unit/test_operators.py
Due: unit-tests

Create a new `file` schema, and files field in a submission.
  CHANGELOG.md
  docs/dictionary/wordlist.txt
  metadata_backend/helpers/schemas/file.json
  metadata_backend/helpers/schemas/submission.json
Due: pyspelling-docs, pyspelling-schemas, unit-tests

It's not necessary to generate mappings any more
  Dockerfile
  Dockerfile-dev
Due: none

Remove deduplication code from pre-commit sort
  .pre-commit-config.yaml
  scripts/dedup-dictionary.sh
  scripts/sort.sh
Due: unit-tests

Update python requirements
  requirements-dev.txt
  requirements.txt
Due: none

Add empty line to test file
  tests/integration/test_submissions.py
  tests/test_files/study/SRP000539_modified.xml
Due: unit-tests

Split operator classes into separate files
  CHANGELOG.md
  metadata_backend/api/auth.py
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/handlers/template.py
  metadata_backend/api/handlers/user.py
  metadata_backend/api/handlers/xml_submission.py
  metadata_backend/api/operators.py
  metadata_backend/api/operators/__init__.py
  metadata_backend/api/operators/base.py
  metadata_backend/api/operators/object.py
  metadata_backend/api/operators/project.py
  metadata_backend/api/operators/submission.py
  metadata_backend/api/operators/user.py
  metadata_backend/api/operators/xml_object.py
  tests/unit/test_auth.py
  tests/unit/test_handlers.py
  tests/unit/test_operators.py
Due: pyspelling-docs, unit-tests

Speed up unit tests with pytest-xdist
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/dictionary/wordlist.txt
  requirements-dev.in
  requirements-dev.txt
  setup.py
  tox.ini
Due: pyspelling-docs

add message borker healthcheck
  .env.example
  docker-compose-tls.yml
  docker-compose.yml
  metadata_backend/api/health.py
  metadata_backend/conf/conf.py
  scripts/extfile.ext
  scripts/rabbitmq-tls.conf
  tests/integration/test_endpoints.py
  tests/unit/test_health.py
Due: unit-tests

adjust file.json collection & props in submission
  docs/dictionary/wordlist.txt
  metadata_backend/helpers/schemas/file.json
  metadata_backend/helpers/schemas/submission.json
Due: pyspelling-schemas, unit-tests

add MessageBroker class and requirements
  metadata_backend/conf/conf.py
  metadata_backend/message_broker/__init__.py
  metadata_backend/message_broker/mq_service.py
  whitelist_dead_code.py
Due: unit-tests

attach message broker to publishing
  docs/dictionary/wordlist.txt
  metadata_backend/api/handlers/publish.py
  metadata_backend/conf/workflows/0_fega.json
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/conf/workflows/2_sdsx.json
  metadata_backend/helpers/schemas/message-dataset-mapping.json
  metadata_backend/helpers/schemas/message_ingestion-trigger.json
  metadata_backend/helpers/schemas/workflow.json
  metadata_backend/helpers/workflow.py
  metadata_backend/message_broker/mq_service.py
  tests/unit/test_handlers.py
Due: pyspelling-schemas, unit-tests

add integration with rabbitmq
  .env.example
  docker-compose-tls.yml
  docker-compose.yml
  metadata_backend/conf/conf.py
  scripts/rabbitmq-definitions.json
  scripts/rabbitmq-tls.conf
  scripts/rabbitmq.conf
  scripts/tls_helper.sh
Due: unit-tests

add file schema to files stage in workflow
  metadata_backend/conf/workflows/0_fega.json
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/conf/workflows/2_sdsx.json
  tests/unit/test_workflows.py
Due: unit-tests

fix bug for covnerting to bool mongo_ssl int test
  tests/integration/conf.py
Due: unit-tests

add amqpstorm and update dependencies
  .pre-commit-config.yaml
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

add message broker consumer cli executable
  deploy/consumer.sh
  metadata_backend/consumer.py
  setup.py
Due: unit-tests
