Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling-docs, pyspelling-schemas, unit-tests

pyspelling-docs:
  name: pyspelling-docs
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-schemas:
  name: pyspelling-schemas
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - json-schemas
  require_serial: true

unit-tests:
  name: unit-tests
  entry: py.test
  args:
  - --exitfirst
  - --disable-warnings
  - tests/
  language: system
  pass_filenames: false

Update actions/setup-python action to v5
  .github/workflows/docs.yml
  .github/workflows/int.yml
  .github/workflows/style.yml
  .github/workflows/unit.yml
Due: none

Update actions/upload-artifact action to v4
  .github/workflows/int.yml
Due: none

Update dependency lxml to v5
  requirements-dev.txt
Due: none

Update dependency pbr to v6
  requirements-dev.txt
Due: none

Update dependency flake8 to v7
  requirements-dev.txt
Due: none

Update all non-major dependencies
  docker-compose-tls.yml
  docker-compose.yml
  dockerfiles/Dockerfile
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

fix lints and add tests
  metadata_backend/api/handlers/user.py
  metadata_backend/api/operators/user.py
  tests/unit/test_db_service.py
  tests/unit/test_handlers.py
  tests/unit/test_operators.py
  tests/unit/test_server.py
Due: unit-tests

fix header not properly populated in aai service handler
  metadata_backend/api/auth.py
  metadata_backend/api/middlewares.py
Due: unit-tests

add integration test for personal token
  tests/integration/test_users.py
Due: unit-tests

remove redundant underscore assigment
  metadata_backend/api/handlers/user.py
Due: unit-tests

add validity period check to personal token middleware
  metadata_backend/api/middlewares.py
Due: unit-tests

add option to middleware to use a personal signed token
  metadata_backend/api/middlewares.py
  metadata_backend/api/operators/user.py
  metadata_backend/database/db_service.py
Due: unit-tests

add examples directory, and add first example for signing a personal token
  examples/create_token.py
Due: none

fix linting
  tests/integration/test_users.py
Due: unit-tests

add new endpoint for generating a personal signing key
  docs/specification.yml
  metadata_backend/api/handlers/user.py
  metadata_backend/server.py
Due: unit-tests

rename openapi file
  .pre-commit-config.yaml
  docs/openapi.yml
Due: none

update changelog with user token
  CHANGELOG.md
Due: pyspelling-docs

Update dependency aiohttp to v3.9.2 [SECURITY]
  requirements-dev.txt
  requirements.txt
Due: none

Update actions/dependency-review-action action to v4
  .github/workflows/dependency-review.yml
Due: none

Update dependency black to v24
  requirements-dev.txt
Due: none

Path conditions:
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-schemas: any of: ^metadata_backend/helpers/schemas/ and \.json$
  unit-tests: any of: ^(metadata_backend|tests|scripts)
