Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling-docs, pyspelling-schemas, unit-tests

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, develop, --branch, master]
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
      files: ^metadata_backend
    - id: pretty-format-json
      files: ^metadata_backend
      args:
      - --autofix
      - --indent=4
      - --no-ensure-ascii
      - --no-sort-keys
    - id: check-yaml
    - id: check-xml
      exclude: tests/test_files/study/SRP000539_invalid[0-9]?.xml

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    - id: black
      args: [-l, "120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-docstrings
        - flake8-annotations

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    - id: mypy
      args: [--ignore-missing-imports, metadata_backend/]
      pass_filenames: false
      additional_dependencies:
        - types-python-dateutil
        - types-ujson
        - types-requests

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    - id: bandit
      files: ^metadata_backend

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle

  - repo: https://github.com/PyCQA/doc8
    rev: 0.11.2
    hooks:
      - id: doc8
        args: ["--max-line-length=400"]

  - repo: https://github.com/APIDevTools/swagger-cli
    rev: v4.0.4
    hooks:
    - id: swagger-validation
      args: [validate]
      files: docs/specification.yml

  - repo: local
    hooks:
    - id: pyspelling-docs
      name: pyspelling-docs
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-schemas
      name: pyspelling-schemas
      entry: ./scripts/pyspelling.sh
      language: script
      args: [json-schemas]
      files: ^metadata_backend/helpers/schemas/
      types: [json]
      require_serial: true

    - id: unit-tests
      name: unit-tests
      entry: py.test
      args: [--exitfirst, --disable-warnings, tests/]
      files: ^(metadata_backend|tests|scripts)
      language: system
      pass_filenames: false

refactor mq_service classes
  metadata_backend/message_broker/mq_service.py
Due: unit-tests

add message broker consumer cli executable
  deploy/consumer.sh
  metadata_backend/consumer.py
  setup.py
Due: unit-tests

add changelog for initial sda-pipeline integration
  CHANGELOG.md
  docs/dictionary/wordlist.txt
Due: pyspelling-docs

update ENA schemas to v1.16
  docs/dictionary/wordlist.txt
  metadata_backend/helpers/schemas/EGA.dac.xsd
  metadata_backend/helpers/schemas/EGA.dataset.xsd
  metadata_backend/helpers/schemas/EGA.policy.xsd
  metadata_backend/helpers/schemas/ENA.assembly.xsd
  metadata_backend/helpers/schemas/ENA.checklist.xsd
  metadata_backend/helpers/schemas/ENA.project.xsd
  metadata_backend/helpers/schemas/SRA.analysis.xsd
  metadata_backend/helpers/schemas/SRA.common.xsd
  metadata_backend/helpers/schemas/SRA.experiment.xsd
  metadata_backend/helpers/schemas/SRA.receipt.xsd
  metadata_backend/helpers/schemas/SRA.run.xsd
  metadata_backend/helpers/schemas/SRA.sample.xsd
  metadata_backend/helpers/schemas/SRA.study.xsd
  metadata_backend/helpers/schemas/SRA.submission.xsd
  metadata_backend/helpers/schemas/ena_analysis.json
Due: pyspelling-schemas, unit-tests

update parser to support assemblyGraph
  metadata_backend/helpers/parser.py
  tests/integration/conf.py
  tests/test_files/analysis/assembly_graph_analysis.xml
Due: unit-tests

update changelog ena schemas update to 1.16
  CHANGELOG.md
Due: pyspelling-docs

Refactor operators, use new BaseOperator class
  CHANGELOG.md
  docs/dictionary/wordlist.txt
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/handlers/template.py
  metadata_backend/api/handlers/xml_submission.py
  metadata_backend/api/operators/base.py
  metadata_backend/api/operators/object.py
  metadata_backend/api/operators/object_base.py
  metadata_backend/api/operators/object_xml.py
  metadata_backend/api/operators/project.py
  metadata_backend/api/operators/submission.py
  metadata_backend/api/operators/user.py
  tests/unit/test_handlers.py
  tests/unit/test_operators.py
Due: pyspelling-docs, unit-tests

adjust file collection to standard notation
  metadata_backend/helpers/schemas/file.json
  scripts/init_mongo.js
Due: pyspelling-schemas, unit-tests

read one document by key value
  metadata_backend/database/db_service.py
Due: unit-tests

db append add option to add elem if not exists
  metadata_backend/database/db_service.py
  tests/unit/test_db_service.py
Due: unit-tests

make use of fileoperator
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/message_broker/mq_service.py
  metadata_backend/server.py
  tests/unit/test_handlers.py
  tests/unit/test_server.py
Due: unit-tests

refactor file operator with mongodb queries
  metadata_backend/api/operators/file.py
  metadata_backend/database/db_service.py
Due: unit-tests

Add file operator
  CHANGELOG.md
  metadata_backend/api/operators/file.py
  metadata_backend/database/db_service.py
  scripts/init_mongo.js
Due: pyspelling-docs, unit-tests

Polish `FileOperator` and add unit tests
  metadata_backend/api/operators/file.py
  metadata_backend/database/db_service.py
  tests/unit/test_operators.py
Due: unit-tests

Fix RabbitMQ environment variables mismatch
  .env.example
  docker-compose-tls.yml
  docker-compose.yml
  metadata_backend/conf/conf.py
Due: unit-tests

Add missing `async / await` in test function
  tests/unit/test_db_service.py
Due: unit-tests

Fix `json_response` marked as `async`
  metadata_backend/api/handlers/restapi.py
Due: unit-tests

Run RabbitMQ also with Procfile
  Procfile
Due: none

Add `/files` endpoint to get files attached to a project
  CHANGELOG.md
  docs/specification.yml
  metadata_backend/api/handlers/files.py
  metadata_backend/server.py
  tests/unit/test_operators.py
  tests/unit/test_server.py
Due: pyspelling-docs, unit-tests

restructure scripts folder
  .github/workflows/int.yml
  .github/workflows/production.yml
  .pre-commit-config.yaml
  Procfile
  docker-compose-tls.yml
  docker-compose.yml
  scripts/dictionary/dedup-dictionary.sh
  scripts/dictionary/pyspelling.sh
  scripts/dictionary/sort.sh
  scripts/mongodb/init_mongo.js
  scripts/rabbitmq/rabbitmq-definitions.json
  scripts/rabbitmq/rabbitmq-tls.conf
  scripts/rabbitmq/rabbitmq.conf
  scripts/tls/extfile.ext
  scripts/tls/tls_helper.sh
Due: unit-tests

Turn base operator class to common functions file
  metadata_backend/api/operators/base.py
  metadata_backend/api/operators/common.py
  metadata_backend/api/operators/file.py
  metadata_backend/api/operators/object.py
  metadata_backend/api/operators/project.py
  metadata_backend/api/operators/submission.py
  metadata_backend/api/operators/user.py
  tests/unit/test_operators.py
Due: unit-tests
