Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort, pylint, pyspelling-docs, pyspelling-schemas

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, develop, --branch, master]
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
      files: ^metadata_backend
    - id: pretty-format-json
      files: ^metadata_backend
      args:
      - --autofix
      - --indent=4
      - --no-ensure-ascii
      - --no-sort-keys
    - id: check-yaml
    - id: check-xml
      exclude: tests/test_files/study/SRP000539_invalid[0-9]?.xml

  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
    - id: black
      args: [-l, "120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args: [--profile, black, --filter-files]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-docstrings
        - flake8-annotations

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
    - id: bandit
      files: ^metadata_backend

  - repo: https://github.com/APIDevTools/swagger-cli
    rev: v4.0.4
    hooks:
    - id: swagger-validation
      args: [validate]
      files: docs/openapi.yml

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.0
    hooks:
      - id: check-metaschema
        name: Validate schemas
        files: ^metadata_backend/helpers/schemas/.*\.json$

      - id: check-jsonschema
        name: Validate workflows
        files: ^metadata_backend/conf/workflows/.*\.json$
        args: ["--schemafile", "metadata_backend/helpers/schemas/workflow.json"]

      - id: check-dependabot
      - id: check-github-workflows

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.10'
    hooks:
    - id: vulture
      args: [metadata_backend/, whitelist_dead_code.py]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.8.0'
    hooks:
    -   id: mypy
        files: ^metadata_backend
        additional_dependencies:
          - types-python-dateutil
          - types-ujson
          - types-requests
        args: [--ignore-missing-imports]

  - repo: local
    hooks:
    - id: sort
      name: sort dictionary
      entry: ./scripts/dictionary/sort.sh
      language: script
      files: ^(docs|.*md)
      require_serial: true
      pass_filenames: false

    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      files: ^metadata_backend
      args:
        [
          -rn, # Only display messages
          -sn, # Don't display the score
        ]

    - id: pyspelling-docs
      name: pyspelling-docs
      entry: ./scripts/dictionary/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-schemas
      name: pyspelling-schemas
      entry: ./scripts/dictionary/pyspelling.sh
      language: script
      args: [json-schemas]
      files: ^metadata_backend/helpers/schemas/
      types: [json]
      require_serial: true

Fix issues raised by dependency update
  metadata_backend/services/metax_mapper.py
  requirements-dev.txt
Due: pylint

Skip: Update dependency test/setuptools to v70
  pyproject.toml
Due: none

Fix bug in read_project_files, add accessionId to returned file obj
  metadata_backend/api/operators/file.py
  tests/integration/helpers.py
Due: pylint

Add integration test for file posting
  .pre-commit-config.yaml
  tests/integration/conf.py
  tests/integration/helpers.py
  tests/integration/test_files.py
Due: none

Extend test: check if posted file exists
  metadata_backend/api/handlers/files.py
  tests/integration/helpers.py
  tests/integration/test_files.py
Due: pylint

Add POST endpoint for receiving files
  metadata_backend/api/handlers/files.py
  metadata_backend/server.py
  tests/unit/test_server.py
Due: pylint

Use existing error raising convention
  metadata_backend/api/handlers/files.py
Due: pylint

Apply 1 suggestion(s) to 1 file(s)
  metadata_backend/api/handlers/files.py
Due: pylint

Update changelog
  CHANGELOG.md
Due: sort, pyspelling-docs

Add 'announce' as additional api endpoint for Big Picture
  docs/dictionary/wordlist.txt
  docs/openapi.yml
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/helpers/schemas/workflow.json
  metadata_backend/helpers/workflow.py
  metadata_backend/server.py
  tests/unit/test_server.py
  tests/unit/test_workflows.py
Due: sort, pylint, pyspelling-schemas

Skip: Update dependency aiofiles to v24
  requirements-dev.txt
Due: none

Add release pipeline to project
  .gitlab-ci.yml
Due: none

Skip: Update all non-major dependencies
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

Reverse docutils dependency update
  requirements-dev.txt
Due: none

Remove unused message broker schemas
  metadata_backend/helpers/schemas/message-dataset-mapping.json
  metadata_backend/helpers/schemas/message_ingestion-trigger.json
Due: pyspelling-schemas

Update tests instructions in README
  README.md
Due: sort, pyspelling-docs

Ignore mypy type errors
  metadata_backend/api/health.py
  metadata_backend/api/operators/base.py
  metadata_backend/api/operators/object.py
  metadata_backend/api/operators/object_base.py
  metadata_backend/api/operators/object_xml.py
  metadata_backend/conf/conf.py
  metadata_backend/database/db_service.py
Due: pylint

Hotfix for broken tests, other small fixes
  metadata_backend/helpers/schemas/workflow.json
  metadata_backend/helpers/workflow.py
  metadata_backend/server.py
  tests/unit/test_server.py
Due: pylint, pyspelling-schemas

Add unit test for BP metadata object creation
  tests/unit/test_operators.py
Due: none

Generate BP ids for BP metadata objects
  metadata_backend/api/operators/object.py
Due: pylint

Add integration test to retrieve BP samples with accession ids
  tests/integration/test_bigpicture.py
Due: none
