Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling-docs, pyspelling-schemas, unit-tests

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, develop, --branch, master]
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
      files: ^metadata_backend
    - id: pretty-format-json
      files: ^metadata_backend
      args:
      - --autofix
      - --indent=4
      - --no-ensure-ascii
      - --no-sort-keys
    - id: check-yaml
    - id: check-xml
      exclude: tests/test_files/study/SRP000539_invalid[0-9]?.xml

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    - id: black
      args: [-l, "120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-docstrings
        - flake8-annotations

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    - id: mypy
      args: [--ignore-missing-imports, metadata_backend/]
      pass_filenames: false
      additional_dependencies:
        - types-python-dateutil
        - types-ujson
        - types-requests

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    - id: bandit
      files: ^metadata_backend

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle

  - repo: https://github.com/PyCQA/doc8
    rev: 0.11.2
    hooks:
      - id: doc8
        args: ["--max-line-length=400"]

  - repo: https://github.com/APIDevTools/swagger-cli
    rev: v4.0.4
    hooks:
    - id: swagger-validation
      args: [validate]
      files: docs/specification.yml

  - repo: local
    hooks:
    - id: pyspelling-docs
      name: pyspelling-docs
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-schemas
      name: pyspelling-schemas
      entry: ./scripts/pyspelling.sh
      language: script
      args: [json-schemas]
      files: ^metadata_backend/helpers/schemas/
      types: [json]
      require_serial: true

    - id: unit-tests
      name: unit-tests
      entry: py.test
      args: [--exitfirst, --disable-warnings, tests/]
      files: ^(metadata_backend|tests|scripts)
      language: system
      pass_filenames: false

Dependabot weekly -> monthly
  .github/dependabot.yml
Due: none

add extra method for parser to handle bp_sample
  metadata_backend/helpers/parser.py
Due: unit-tests

edit bpsample json schema
  metadata_backend/helpers/schemas/bp_bpsample.json
Due: pyspelling-schemas, unit-tests

add tests
  tests/integration/run_tests.py
  tests/test_parser.py
Due: unit-tests

Update link to Tox in docs
  docs/test.rst
Due: pyspelling-docs

Add Pylint checks
  .github/workflows/style.yml
  .pre-commit-config.yaml
  .pylintrc
  CHANGELOG.md
  README.md
  docs/dictionary/wordlist.txt
  metadata_backend/api/auth.py
  metadata_backend/api/handlers/common.py
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/rems_proxy.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/handlers/template.py
  metadata_backend/api/handlers/user.py
  metadata_backend/api/handlers/xml_submission.py
  metadata_backend/api/health.py
  metadata_backend/api/middlewares.py
  metadata_backend/api/operators.py
  metadata_backend/conf/conf.py
  metadata_backend/database/db_service.py
  metadata_backend/helpers/logger.py
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schema_loader.py
  metadata_backend/helpers/validator.py
  metadata_backend/server.py
  metadata_backend/services/datacite_service_handler.py
  metadata_backend/services/metax_mapper.py
  metadata_backend/services/metax_service_handler.py
  metadata_backend/services/rems_service_handler.py
  metadata_backend/services/service_handler.py
  requirements-dev.in
  requirements-dev.txt
  tests/test_auth.py
  tests/test_handlers.py
  tests/test_operators.py
  tox.ini
Due: pyspelling-docs, unit-tests

Add bpdataset schema to doi generation process
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/handlers/xml_submission.py
  metadata_backend/api/operators.py
  metadata_backend/conf/conf.py
  metadata_backend/database/db_service.py
  tests/integration/run_tests.py
  tests/test_files/study/SRP000539_modified.xml
  tests/test_handlers.py
Due: unit-tests

Prevent published objects and submissions from being modified
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/handlers/template.py
  metadata_backend/api/middlewares.py
  metadata_backend/server.py
  tests/http/publication_rems.http
  tests/http/publication_xml.http
  tests/integration/run_tests.py
  tests/test_handlers.py
Due: unit-tests

re-edit the parser for bp samples
  metadata_backend/helpers/parser.py
Due: unit-tests

edit unit tests
  tests/test_parser.py
Due: unit-tests

fix bpsample json schema
  metadata_backend/helpers/schemas/bp_bpsample.json
Due: pyspelling-schemas, unit-tests

add additional check to integration tests
  tests/integration/run_tests.py
Due: unit-tests

update wordlist
  docs/dictionary/wordlist.txt
Due: none

Add instructions for enabling swagger docs.
  README.md
  docs/dictionary/wordlist.txt
Due: pyspelling-docs

Test schemas endpoint
  tests/integration/run_tests.py
  tests/test_schema_loader.py
Due: unit-tests

Fix schema endpoint returning 400.
  CHANGELOG.md
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/handlers/user.py
  metadata_backend/api/operators.py
  metadata_backend/helpers/schemas/submission.json
Due: pyspelling-docs, pyspelling-schemas, unit-tests

Add Github action to combine dependabot PRs.
  .github/workflows/combine-dependabot-prs.yml
Due: none

Revert change to keep parallel upload test
  tests/integration/run_tests.py
Due: unit-tests

Add a check for value type of age_at_extraction
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schemas/bp_bpsample.json
Due: pyspelling-schemas, unit-tests

Add unit test for age_at_extraction value
  tests/integration/run_tests.py
  tests/test_parser.py
Due: unit-tests

automerge instead of combine updates
  .github/workflows/combine-dependabot-prs.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-review.yml
Due: none
