Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling-docs, pyspelling-schemas, unit-tests

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    - id: black
      args: [-l, "120"]

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-docstrings
        - flake8-annotations

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.961
    hooks:
    - id: mypy
      args: [--ignore-missing-imports, metadata_backend/]
      pass_filenames: false
      additional_dependencies:
        - types-python-dateutil
        - types-ujson
        - types-requests

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
      files: ^metadata_backend
    - id: check-yaml
    - id: check-xml
      exclude: tests/test_files/study/SRP000539_invalid[0-9]?.xml

  - repo: https://github.com/APIDevTools/swagger-cli
    rev: v4.0.4
    hooks:
    - id: swagger-validation
      args: [validate]
      files: docs/specification.yml

  - repo: local
    hooks:
    - id: pyspelling-docs
      name: pyspelling-docs
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-schemas
      name: pyspelling-schemas
      entry: ./scripts/pyspelling.sh
      language: script
      args: [json-schemas]
      files: ^metadata_backend/helpers/schemas/
      types: [json]
      require_serial: true

    - id: unit-tests
      name: unit-tests
      entry: py.test
      args: [--exitfirst, --disable-warnings, tests/]
      files: ^(metadata_backend|tests|scripts)
      language: system
      pass_filenames: false

Fix for pydocstyle
  metadata_backend/api/auth.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/services/service_handler.py
  tests/integration/mock_doi_api.py
  tests/performance/locustfile.py
  tests/test_handlers.py
Due: unit-tests

Fix for JSON files indentation
  .pre-commit-config.yaml
  metadata_backend/conf/schemas.json
  metadata_backend/helpers/schemas/submissions.json
  metadata_backend/helpers/schemas/users.json
Due: pyspelling-schemas, unit-tests

add new test file and unit tests for parser
  tests/test_files/policy/policy2.xml
  tests/test_parser.py
Due: unit-tests

edit previous unit tests to work
  tests/test_handlers.py
  tests/test_operators.py
Due: unit-tests

edit parser to validate multiple objects
  metadata_backend/helpers/parser.py
Due: unit-tests

change metadata creation method to account for multiple objects
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/xml_submission.py
  metadata_backend/api/operators.py
Due: unit-tests

add integration tests
  tests/integration/run_tests.py
Due: unit-tests

fix mypy complaints
  metadata_backend/api/operators.py
Due: unit-tests

Fix for isort
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/rems_proxy.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/xml_submission.py
  metadata_backend/api/health.py
  metadata_backend/api/middlewares.py
  metadata_backend/helpers/logger.py
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/validator.py
  metadata_backend/server.py
  metadata_backend/services/datacite_service_handler.py
  metadata_backend/services/metax_service_handler.py
  metadata_backend/services/rems_service_handler.py
  tests/integration/clean_db.py
  tests/integration/run_tests.py
  tests/test_auth.py
  tests/test_db_service.py
  tests/test_middlewares.py
  tests/test_operators.py
  tests/test_parser.py
  tests/test_schema_loader.py
  tests/test_server.py
Due: unit-tests

Spellcheck python files
  .pyspelling.yml
  scripts/metax_mappings/create_metax_references.py
  scripts/swagger/yaml-to-html.py
  setup.py
Due: unit-tests

Update submission schema and doiInfo in swagger docs.
  docs/specification.yml
  metadata_backend/helpers/schemas/submissions.json
Due: pyspelling-schemas, unit-tests

add more accurate typing which mypy doesn't complain about
  metadata_backend/api/handlers/template.py
  metadata_backend/api/operators.py
Due: unit-tests

update faulty docstrings
  metadata_backend/api/operators.py
Due: unit-tests

update changelog
  CHANGELOG.md
Due: pyspelling-docs

Add BP sample XSD schema from BP release v0.1.1
  metadata_backend/conf/schemas.json
  metadata_backend/helpers/schemas/BP.annotation.xsd
  metadata_backend/helpers/schemas/BP.bpsample.xsd
Due: unit-tests

Add bp sample JSON schema for db writes
  metadata_backend/helpers/schemas/bp_bpsample.json
Due: pyspelling-schemas, unit-tests

Adds XML test file for sample.
  tests/test_files/bpsample/template_samples.xml
Due: unit-tests

Update python deps
  requirements-dev.txt
  requirements.txt
Due: none

Update pre-commit deps
  .pre-commit-config.yaml
Due: none

`ElementTree` moved to `elementpath`
  metadata_backend/api/handlers/common.py
  metadata_backend/helpers/validator.py
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: unit-tests
