Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling-docs, pyspelling-schemas, unit-tests

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, develop, --branch, master]
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
      files: ^metadata_backend
    - id: pretty-format-json
      files: ^metadata_backend
      args:
      - --autofix
      - --indent=4
      - --no-ensure-ascii
      - --no-sort-keys
    - id: check-yaml
    - id: check-xml
      exclude: tests/test_files/study/SRP000539_invalid[0-9]?.xml

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    - id: black
      args: [-l, "120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-docstrings
        - flake8-annotations

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    - id: mypy
      args: [--ignore-missing-imports, metadata_backend/]
      pass_filenames: false
      additional_dependencies:
        - types-python-dateutil
        - types-ujson
        - types-requests

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    - id: bandit
      files: ^metadata_backend

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle

  - repo: https://github.com/PyCQA/doc8
    rev: 0.11.2
    hooks:
      - id: doc8
        args: ["--max-line-length=400"]

  - repo: https://github.com/APIDevTools/swagger-cli
    rev: v4.0.4
    hooks:
    - id: swagger-validation
      args: [validate]
      files: docs/specification.yml

  - repo: local
    hooks:
    - id: pyspelling-docs
      name: pyspelling-docs
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-schemas
      name: pyspelling-schemas
      entry: ./scripts/pyspelling.sh
      language: script
      args: [json-schemas]
      files: ^metadata_backend/helpers/schemas/
      types: [json]
      require_serial: true

    - id: unit-tests
      name: unit-tests
      entry: py.test
      args: [--exitfirst, --disable-warnings, tests/]
      files: ^(metadata_backend|tests|scripts)
      language: system
      pass_filenames: false

switch from isodate to isodatetime package
  metadata_backend/helpers/parser.py
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  tests/test_files/bpsample/template_samples.xml
  tests/unit/test_parser.py
Due: unit-tests

bump dockerfile to 3.11
  Dockerfile
  Dockerfile-dev
Due: none

update python dependencies in one go
  requirements-dev.txt
  requirements.txt
  setup.py
Due: none

update github actions to python 3.11
  .github/workflows/docs.yml
  .github/workflows/int.yml
  .github/workflows/production.yml
  .github/workflows/style.yml
  .github/workflows/unit.yml
  docs/submitter.rst
  tox.ini
Due: pyspelling-docs

resolve pylint deprecation of distutils
  .env.example
  .pylintrc
  docs/dictionary/wordlist.txt
  metadata_backend/api/handlers/submission.py
  metadata_backend/conf/conf.py
  metadata_backend/helpers/parser.py
  tests/integration/conf.py
Due: unit-tests

update pre-commit packages
  .pre-commit-config.yaml
Due: none

use docker compose instead of old command
  .github/workflows/int.yml
  README.md
  docs/deploy.rst
Due: pyspelling-docs

Migrate to pyproject.toml
  .pyspelling.yml
  Dockerfile
  Dockerfile-dev
  pyproject.toml
Due: none

Update Dockerfile-dev
  Dockerfile-dev
Due: none

Include readme.md in dockerfile
  Dockerfile-dev
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Fix isort errors
  metadata_backend/helpers/parser.py
  metadata_backend/server.py
  tests/integration/test_object.py
  tests/integration/test_submissions.py
  tests/unit/test_auth.py
  tests/unit/test_metax_mapper.py
  tests/unit/test_parser.py
  tests/unit/test_schema_loader.py
Due: unit-tests

Remove setup.py
  setup.py
Due: none

Update dockerfile
  Dockerfile
Due: none

redundant bool and python version 3.11
  docs/submitter.rst
  metadata_backend/api/handlers/submission.py
  metadata_backend/conf/conf.py
Due: pyspelling-docs, unit-tests

Add mypy config in pyproject.toml
  pyproject.toml
Due: none

Remove unsupported mypy option
  pyproject.toml
Due: none

Update typing
  .vscode/settings.json
  docs/conf.py
  metadata_backend/api/auth.py
  metadata_backend/api/handlers/common.py
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/handlers/rems_proxy.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/handlers/template.py
  metadata_backend/api/health.py
  metadata_backend/api/operators/file.py
  metadata_backend/api/operators/object.py
  metadata_backend/api/operators/object_base.py
  metadata_backend/api/operators/object_xml.py
  metadata_backend/api/operators/project.py
  metadata_backend/api/operators/submission.py
  metadata_backend/api/operators/user.py
  metadata_backend/conf/conf.py
  metadata_backend/database/db_service.py
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schema_loader.py
  metadata_backend/helpers/validator.py
  metadata_backend/helpers/workflow.py
  metadata_backend/message_broker/mq_service.py
  metadata_backend/services/datacite_service_handler.py
  metadata_backend/services/metax_service_handler.py
  metadata_backend/services/rems_service_handler.py
  metadata_backend/services/service_handler.py
Due: unit-tests

Updated type annotations
  .vscode/settings.json
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/handlers/rems_proxy.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/handlers/template.py
  metadata_backend/api/handlers/xml_submission.py
  metadata_backend/api/operators/file.py
  metadata_backend/api/operators/object.py
  metadata_backend/api/operators/object_base.py
  metadata_backend/api/operators/object_xml.py
  metadata_backend/api/operators/project.py
  metadata_backend/api/operators/submission.py
  metadata_backend/api/operators/user.py
  metadata_backend/database/db_service.py
  metadata_backend/helpers/logger.py
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schema_loader.py
  metadata_backend/helpers/workflow.py
  metadata_backend/services/datacite_service_handler.py
  metadata_backend/services/metax_mapper.py
  metadata_backend/services/metax_service_handler.py
  metadata_backend/services/rems_service_handler.py
  metadata_backend/services/retry.py
  metadata_backend/services/service_handler.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: unit-tests

Update typing of Dict and List
  metadata_backend/api/auth.py
  metadata_backend/api/handlers/common.py
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/handlers/rems_proxy.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/handlers/template.py
  metadata_backend/api/handlers/xml_submission.py
  metadata_backend/api/health.py
  metadata_backend/api/middlewares.py
  metadata_backend/api/operators/file.py
  metadata_backend/api/operators/object.py
  metadata_backend/api/operators/object_base.py
  metadata_backend/api/operators/object_xml.py
  metadata_backend/api/operators/project.py
  metadata_backend/api/operators/submission.py
  metadata_backend/api/operators/user.py
  metadata_backend/conf/conf.py
  metadata_backend/database/db_service.py
  metadata_backend/helpers/logger.py
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schema_loader.py
  metadata_backend/helpers/validator.py
  metadata_backend/helpers/workflow.py
  metadata_backend/message_broker/mq_service.py
  metadata_backend/server.py
  metadata_backend/services/datacite_service_handler.py
  metadata_backend/services/metax_mapper.py
  metadata_backend/services/metax_service_handler.py
  metadata_backend/services/rems_service_handler.py
  metadata_backend/services/service_handler.py
Due: unit-tests
