Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort, pylint, pyspelling-docs, pyspelling-schemas

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, develop, --branch, master]
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
      files: ^metadata_backend
    - id: pretty-format-json
      files: ^metadata_backend
      args:
      - --autofix
      - --indent=4
      - --no-ensure-ascii
      - --no-sort-keys
    - id: check-yaml
    - id: check-xml
      exclude: tests/test_files/study/SRP000539_invalid[0-9]?.xml

  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
    - id: black
      args: [-l, "120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args: [--profile, black, --filter-files]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-docstrings
        - flake8-annotations

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
    - id: bandit
      files: ^metadata_backend

  - repo: https://github.com/APIDevTools/swagger-cli
    rev: v4.0.4
    hooks:
    - id: swagger-validation
      args: [validate]
      files: docs/openapi.yml

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.0
    hooks:
      - id: check-metaschema
        name: Validate schemas
        files: ^metadata_backend/helpers/schemas/.*\.json$

      - id: check-jsonschema
        name: Validate workflows
        files: ^metadata_backend/conf/workflows/.*\.json$
        args: ["--schemafile", "metadata_backend/helpers/schemas/workflow.json"]

      - id: check-dependabot
      - id: check-github-workflows

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.10'
    hooks:
    - id: vulture
      args: [metadata_backend/, whitelist_dead_code.py]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.8.0'
    hooks:
    -   id: mypy
        files: ^metadata_backend
        additional_dependencies:
          - types-python-dateutil
          - types-ujson
          - types-requests
        args: [--ignore-missing-imports]

  - repo: local
    hooks:
    - id: sort
      name: sort dictionary
      entry: ./scripts/dictionary/sort.sh
      language: script
      files: ^(docs|.*md)
      require_serial: true
      pass_filenames: false

    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      files: ^metadata_backend
      args:
        [
          -rn, # Only display messages
          -sn, # Don't display the score
        ]

    - id: pyspelling-docs
      name: pyspelling-docs
      entry: ./scripts/dictionary/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-schemas
      name: pyspelling-schemas
      entry: ./scripts/dictionary/pyspelling.sh
      language: script
      args: [json-schemas]
      files: ^metadata_backend/helpers/schemas/
      types: [json]
      require_serial: true

Skip: Update all non-major dependencies
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update dependency black to v24.3.0 [SECURITY]
  requirements-dev.txt
Due: none

Skip: Update all non-major dependencies
  .github/workflows/codeql.yml
  .github/workflows/dependabot-auto-merge.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

mypy remove unused type ignore
  metadata_backend/api/auth.py
  metadata_backend/api/handlers/common.py
  metadata_backend/api/health.py
  metadata_backend/api/operators/base.py
  metadata_backend/api/operators/object.py
  metadata_backend/api/operators/object_base.py
  metadata_backend/api/operators/object_xml.py
  metadata_backend/api/operators/submission.py
  metadata_backend/api/operators/user.py
  metadata_backend/conf/conf.py
  metadata_backend/database/db_service.py
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/validator.py
Due: pylint

Change syntax from npm to pnpm
  dockerfiles/Dockerfile
  docs/deploy.rst
  docs/dictionary/wordlist.txt
  docs/frontend.rst
  docs/test.rst
Due: sort, pyspelling-docs

rename specification.yml to openapi.yaml
  dockerfiles/Dockerfile
  docs/submitter.rst
  scripts/swagger/yaml-to-html.py
Due: sort, pyspelling-docs

Skip: Update dependency idna to v3.7 [SECURITY]
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update all non-major dependencies
  .pre-commit-config.yaml
  docker-compose-tls.yml
  docker-compose.yml
  requirements-dev.txt
  requirements.txt
Due: none

make use of python 3.12
  .github/workflows/docs.yml
  .github/workflows/int.yml
  .github/workflows/production.yml
  .github/workflows/style.yml
  .github/workflows/unit.yml
  .gitlab-ci.yml
  .pylintrc
  README.md
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile-dev
  docs/submitter.rst
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tox.ini
Due: sort, pyspelling-docs

Skip: Update dependabot/fetch-metadata action to v2
  .github/workflows/dependabot-auto-merge.yml
Due: none

Skip: Update dependency jinja2 to v3.1.4 [SECURITY]
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update dependency gunicorn to v22 [SECURITY]
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update dependency packaging to v24
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update dependency pytest-cov to v5
  requirements-dev.txt
Due: none

remove mq from architecture
  .env.example
  Procfile
  deploy/consumer.sh
  docker-compose-tls.yml
  docker-compose.yml
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/health.py
  metadata_backend/conf/conf.py
  metadata_backend/conf/workflows/0_fega.json
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/conf/workflows/2_sdsx.json
  metadata_backend/consumer.py
  metadata_backend/helpers/schemas/workflow.json
  metadata_backend/message_broker/__init__.py
  metadata_backend/message_broker/mq_service.py
  metadata_backend/server.py
  pyproject.toml
  requirements-dev.in
  requirements.in
  scripts/rabbitmq/rabbitmq-definitions.json
  scripts/rabbitmq/rabbitmq-tls.conf
  scripts/rabbitmq/rabbitmq.conf
  scripts/tls/tls_helper.sh
  tests/integration/test_endpoints.py
  tests/unit/test_handlers.py
  tests/unit/test_health.py
  whitelist_dead_code.py
Due: pylint, pyspelling-schemas

Skip: Update dependency test/pytest to v8
  pyproject.toml
Due: none

Skip: Update dependency test/pytest-cov to v5
  pyproject.toml
Due: none

Skip: Update all non-major dependencies
  .github/workflows/docs.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update dependency test/setuptools to v70
  pyproject.toml
Due: none

Fix issues raised by dependency update
  metadata_backend/services/metax_mapper.py
  requirements-dev.txt
Due: pylint
