Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort, pylint, pyspelling-docs, pyspelling-schemas

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, develop, --branch, master]
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
      files: ^metadata_backend
    - id: pretty-format-json
      files: ^metadata_backend
      args:
      - --autofix
      - --indent=4
      - --no-ensure-ascii
      - --no-sort-keys
    - id: check-yaml
    - id: check-xml
      exclude: tests/test_files/study/SRP000539_invalid[0-9]?.xml

  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
    - id: black
      args: [-l, "120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args: [--profile, black, --filter-files]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-docstrings
        - flake8-annotations

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
    - id: bandit
      files: ^metadata_backend

  - repo: https://github.com/APIDevTools/swagger-cli
    rev: v4.0.4
    hooks:
    - id: swagger-validation
      args: [validate]
      files: docs/openapi.yml

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.0
    hooks:
      - id: check-metaschema
        name: Validate schemas
        files: ^metadata_backend/helpers/schemas/.*\.json$

      - id: check-jsonschema
        name: Validate workflows
        files: ^metadata_backend/conf/workflows/.*\.json$
        args: ["--schemafile", "metadata_backend/helpers/schemas/workflow.json"]

      - id: check-dependabot
      - id: check-github-workflows

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.10'
    hooks:
    - id: vulture
      args: [metadata_backend/, whitelist_dead_code.py]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.8.0'
    hooks:
    -   id: mypy
        files: ^metadata_backend
        additional_dependencies:
          - types-python-dateutil
          - types-ujson
          - types-requests
        args: [--ignore-missing-imports]

  - repo: local
    hooks:
    - id: sort
      name: sort dictionary
      entry: ./scripts/dictionary/sort.sh
      language: script
      files: ^(docs|.*md)
      require_serial: true
      pass_filenames: false

    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      files: ^metadata_backend
      args:
        [
          -rn, # Only display messages
          -sn, # Don't display the score
        ]

    - id: pyspelling-docs
      name: pyspelling-docs
      entry: ./scripts/dictionary/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-schemas
      name: pyspelling-schemas
      entry: ./scripts/dictionary/pyspelling.sh
      language: script
      args: [json-schemas]
      files: ^metadata_backend/helpers/schemas/
      types: [json]
      require_serial: true

Skip: Update github/codeql-action action to v3
  .github/workflows/codeql.yml
Due: none

Changelog bot 2024-07-18T18:49:44+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Skip: Update all non-major dependencies
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/docs.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

Remove MQ related dependencies
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update dependency test/setuptools to v71
  pyproject.toml
Due: none

Reformat /validate endpoint responses
  metadata_backend/api/handlers/xml_submission.py
  metadata_backend/helpers/validator.py
  tests/test_files/study/SRP000539_invalid4.xml
  tests/test_files/study/SRP000539_invalid5.xml
  tests/test_files/study/SRP000539_invalid6.xml
  tests/unit/test_handlers.py
Due: pylint

Changelog bot 2024-08-05T06:33:56+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Increase unit testing for files operations
  metadata_backend/api/operators/file.py
  tests/unit/test_handlers.py
  tests/unit/test_operators.py
  tests/unit/test_schema_loader.py
  tests/unit/test_workflows.py
Due: pylint

Add unit tests, openapi specification for linkedFolder. Change path to name.
  docs/openapi.yml
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/operators/submission.py
  metadata_backend/helpers/schemas/submission.json
  tests/integration/helpers.py
  tests/integration/test_submissions.py
  tests/unit/test_handlers.py
Due: sort, pylint, pyspelling-schemas

Test adding and removing a linked folder path to submission
  tests/integration/helpers.py
  tests/integration/test_submissions.py
Due: none

Create endpoint for adding a linked folder path to submission
  docs/dictionary/wordlist.txt
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/operators/submission.py
  metadata_backend/helpers/schemas/submission.json
  metadata_backend/server.py
  tests/unit/test_server.py
Due: sort, pylint, pyspelling-schemas

Skip: Update dependency attrs to v24
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update dependency gunicorn to v23
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update dependency sphinxcontrib-applehelp to v2
  requirements-dev.txt
Due: none

Skip: Update dependency sphinxcontrib-devhelp to v2
  requirements-dev.txt
Due: none

Skip: Update all non-major dependencies
  .github/workflows/docs.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update dependency aiohttp to v3.10.2 [SECURITY]
  metadata_backend/api/auth.py
  metadata_backend/services/datacite_service_handler.py
  metadata_backend/services/metax_service_handler.py
  metadata_backend/services/rems_service_handler.py
  metadata_backend/services/service_handler.py
  requirements-dev.txt
  requirements.txt
Due: pylint

Fix mypy issues
  metadata_backend/server.py
  requirements-dev.txt
  requirements.txt
Due: pylint

Add tests for database
  tests/integration/test_files.py
  tests/unit/test_db_service.py
Due: none

Flag file as deleted
  metadata_backend/api/handlers/files.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/operators/file.py
  metadata_backend/database/db_service.py
  metadata_backend/server.py
  tests/integration/helpers.py
  tests/integration/test_files.py
  tests/unit/test_handlers.py
  tests/unit/test_operators.py
  tests/unit/test_server.py
  whitelist_dead_code.py
Due: pylint

Reformat multi object xml content for storage
  metadata_backend/api/handlers/xml_submission.py
  metadata_backend/api/operators/object_xml.py
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/validator.py
  tests/unit/test_handlers.py
  tests/unit/test_operators.py
  tests/unit/test_parser.py
Due: pylint
