Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling-docs, pyspelling-schemas, unit-tests

pyspelling-docs:
  name: pyspelling-docs
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-schemas:
  name: pyspelling-schemas
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - json-schemas
  require_serial: true

unit-tests:
  name: unit-tests
  entry: py.test
  args:
  - --exitfirst
  - --disable-warnings
  - tests/
  language: system
  pass_filenames: false

HTTP Delete file from submission & changelog
  CHANGELOG.md
  docs/specification.yml
  metadata_backend/api/handlers/submission.py
  metadata_backend/server.py
  tests/unit/test_server.py
Due: pyspelling-docs, unit-tests

Update BP sample schema and do required changes
  .github/workflows/publish.yml
  CHANGELOG.md
  docs/dictionary/wordlist.txt
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schemas/BP.bpsample.xsd
  metadata_backend/helpers/schemas/BP.common.xsd
  metadata_backend/helpers/schemas/BP.schema.xsd
  metadata_backend/helpers/schemas/bp_bpsample.json
  tests/integration/test_object.py
  tests/test_files/bpsample/template_samples.xml
  tests/unit/test_parser.py
Due: pyspelling-docs, pyspelling-schemas, unit-tests

Fix shortcoming of json schema attributes
  docs/dictionary/wordlist.txt
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schemas/bp_bpsample.json
Due: pyspelling-schemas, unit-tests

Remove BP.schema.xsd
  metadata_backend/helpers/schemas/BP.schema.xsd
Due: unit-tests

use new way of generating lcov from coverage
  .github/workflows/unit.yml
Due: none

Update BP dataset json schema to be more accurate
  CHANGELOG.md
  docs/dictionary/wordlist.txt
  metadata_backend/helpers/schemas/bp_bpdataset.json
Due: pyspelling-docs, pyspelling-schemas, unit-tests

Update BP image json schema to be more accurate
  docs/dictionary/wordlist.txt
  metadata_backend/helpers/schemas/bp_bpsample.json
  metadata_backend/helpers/schemas/bp_image.json
  metadata_backend/helpers/validator.py
Due: pyspelling-schemas, unit-tests

Change image naming to bpimage
  metadata_backend/conf/schemas.json
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schemas/BP.bpimage.xsd
  metadata_backend/helpers/schemas/bp_bpimage.json
  tests/integration/conf.py
  tests/integration/test_object.py
  tests/test_files/bpimage/images_multi.xml
  tests/test_files/bpimage/images_single.xml
  tests/test_files/workflows/valid.json
  tests/unit/test_parser.py
  tests/unit/test_workflows.py
Due: pyspelling-schemas, unit-tests

Add BP observation json schema
  CHANGELOG.md
  docs/dictionary/wordlist.txt
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schemas/bp_bpdataset.json
  metadata_backend/helpers/schemas/bp_observation.json
  tests/unit/test_parser.py
Due: pyspelling-docs, pyspelling-schemas, unit-tests

Add BP observation xml schema and test file
  metadata_backend/conf/schemas.json
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/helpers/schemas/BP.observation.xsd
  metadata_backend/helpers/schemas/bp_observation.json
  tests/integration/conf.py
  tests/integration/test_object.py
  tests/test_files/observation/observations.xml
  tests/unit/test_handlers.py
  tests/unit/test_parser.py
Due: pyspelling-schemas, unit-tests

Change observation name to bpobservation
  metadata_backend/conf/schemas.json
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schemas/BP.bpobservation.xsd
  metadata_backend/helpers/schemas/bp_bpobservation.json
  tests/integration/conf.py
  tests/test_files/bpobservation/observations.xml
  tests/unit/test_handlers.py
  tests/unit/test_parser.py
Due: pyspelling-schemas, unit-tests

Add BP staining xml schema and test file
  metadata_backend/conf/schemas.json
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/helpers/schemas/BP.staining.xsd
  metadata_backend/helpers/schemas/bp_staining.json
  tests/integration/test_object.py
  tests/test_files/staining/stainings.xml
  tests/unit/test_handlers.py
  tests/unit/test_parser.py
Due: pyspelling-schemas, unit-tests

Add BP staining json schema
  CHANGELOG.md
  docs/dictionary/wordlist.txt
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schemas/bp_staining.json
Due: pyspelling-docs, pyspelling-schemas, unit-tests

Change staining name to bpstaining
  metadata_backend/conf/schemas.json
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schemas/BP.bpstaining.xsd
  metadata_backend/helpers/schemas/bp_bpstaining.json
  tests/integration/test_object.py
  tests/test_files/bpstaining/stainings.xml
  tests/unit/test_parser.py
Due: pyspelling-schemas, unit-tests

update pre-commit and requirements dependencies
  .pre-commit-config.yaml
  requirements-dev.txt
  requirements.txt
Due: none

format for new black style guides 2023
  metadata_backend/api/auth.py
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/helpers/validator.py
  metadata_backend/message_broker/mq_service.py
  metadata_backend/services/datacite_service_handler.py
  metadata_backend/services/metax_service_handler.py
  metadata_backend/services/rems_service_handler.py
  metadata_backend/services/service_handler.py
  tests/integration/mock_rems_api.py
  tests/unit/test_operators.py
Due: unit-tests

jwk.dumps is deprecated adjust for that
  tests/integration/mock_auth.py
Due: unit-tests

update pre-commit dependencies
  .pre-commit-config.yaml
Due: none

Add isodate package
  metadata_backend/helpers/parser.py
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  tests/test_files/bpsample/template_samples.xml
  tests/unit/test_parser.py
Due: unit-tests

Add iso duration converison
  CHANGELOG.md
  docs/dictionary/wordlist.txt
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schemas/bp_bpsample.json
  tests/unit/test_parser.py
Due: pyspelling-docs, pyspelling-schemas, unit-tests

Path conditions:
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-schemas: any of: ^metadata_backend/helpers/schemas/ and \.json$
  unit-tests: any of: ^(metadata_backend|tests|scripts)
