Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling-docs, pyspelling-schemas, unit-tests

pyspelling-docs:
  name: pyspelling-docs
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-schemas:
  name: pyspelling-schemas
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - json-schemas
  require_serial: true

unit-tests:
  name: unit-tests
  entry: py.test
  args:
  - --exitfirst
  - --disable-warnings
  - tests/
  language: system
  pass_filenames: false

Alter the metax reference generation
  metadata_backend/conf/conf.py
  metadata_backend/services/metax_mapper.py
  scripts/metax_mappings/create_metax_references.py
  scripts/metax_mappings/fetch_refs.sh
Due: unit-tests

Remove git ignore on reference file
  .gitignore
Due: none

Adjust the reference files, their generation and use
  metadata_backend/conf/conf.py
  metadata_backend/conf/metax_references/fields_of_science.json
  metadata_backend/conf/metax_references/identifier_types.json
  metadata_backend/conf/metax_references/languages.json
  metadata_backend/services/metax_mapper.py
  scripts/metax_mappings/create_metax_references.py
Due: unit-tests

Activate metax mapping unit tests
  tests/unit/test_metax_mapper.py
Due: unit-tests

Change age_at_extraction to numeric attribute
  tests/integration/test_submissions.py
  tests/test_files/bpsample/template_samples.xml
  tests/unit/test_parser.py
Due: unit-tests

add support for LSAAI groups #548
  CHANGELOG.md
  docs/dictionary/wordlist.txt
  metadata_backend/api/auth.py
  tests/integration/mock_auth.py
  tests/unit/test_auth.py
Due: pyspelling-docs, unit-tests

remove oidc client name from lifescience group for being redundant to the user
  metadata_backend/api/auth.py
Due: unit-tests

Validate schemas
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  metadata_backend/helpers/schemas/bp_bpdataset.json
  metadata_backend/helpers/schemas/bp_bpsample.json
  metadata_backend/helpers/schemas/bp_image.json
  metadata_backend/helpers/schemas/ena_analysis.json
  metadata_backend/helpers/schemas/ena_dac.json
  metadata_backend/helpers/schemas/ena_dataset.json
  metadata_backend/helpers/schemas/ena_experiment.json
  metadata_backend/helpers/schemas/ena_policy.json
  metadata_backend/helpers/schemas/ena_run.json
  metadata_backend/helpers/schemas/ena_sample.json
  metadata_backend/helpers/schemas/ena_study.json
  metadata_backend/helpers/schemas/submission.json
  tox.ini
Due: pyspelling-docs, pyspelling-schemas, unit-tests

Fix bpsample json schema + add parsing edge case
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schemas/bp_bpsample.json
  tests/unit/test_parser.py
Due: pyspelling-schemas, unit-tests

move callback userinfo parsing to functions so they can be reused from other modules
  metadata_backend/api/auth.py
Due: unit-tests

add token auth option to middleware #468
  metadata_backend/api/middlewares.py
Due: unit-tests

update changelog for #468
  CHANGELOG.md
Due: pyspelling-docs

update tests
  tests/integration/helpers.py
  tests/integration/test_users.py
  tests/unit/test_auth.py
Due: unit-tests

update docs with bearer token information
  docs/dictionary/wordlist.txt
  docs/submitter.rst
Due: pyspelling-docs

introduce type aliases to hide convoluted types
  metadata_backend/api/auth.py
  metadata_backend/api/middlewares.py
Due: unit-tests

make naming in project list more consistent
  metadata_backend/api/auth.py
  tests/integration/test_users.py
  tests/unit/test_auth.py
Due: unit-tests

make pkce in oidcrp explicit, put placeholder for dpop as feature is pending in external service
  metadata_backend/api/auth.py
  tests/integration/mock_auth.py
Due: unit-tests

remove testing variable that may cause misconfiguration incidents
  metadata_backend/api/middlewares.py
  metadata_backend/conf/conf.py
Due: unit-tests

add healthcheck for connecting services
  metadata_backend/api/auth.py
  metadata_backend/api/health.py
  metadata_backend/api/middlewares.py
  metadata_backend/server.py
  metadata_backend/services/datacite_service_handler.py
  metadata_backend/services/metax_service_handler.py
  metadata_backend/services/rems_service_handler.py
  metadata_backend/services/service_handler.py
  tests/unit/test_health.py
Due: unit-tests

add healthchecks to mock doi, rems & datacite
  .env.example
  tests/integration/conf.py
  tests/integration/mock_doi_api.py
  tests/integration/mock_metax_api.py
  tests/integration/mock_rems_api.py
  tests/integration/test_bigpicture.py
  tests/integration/test_submissions.py
  tests/integration/test_users.py
Due: unit-tests

add advanced healtcheck information to changelog
  CHANGELOG.md
Due: pyspelling-docs

Path conditions:
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-schemas: any of: ^metadata_backend/helpers/schemas/ and \.json$
  unit-tests: any of: ^(metadata_backend|tests|scripts)
