Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling-docs, pyspelling-schemas, unit-tests

pyspelling-docs:
  name: pyspelling-docs
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-schemas:
  name: pyspelling-schemas
  entry: ./scripts/pyspelling.sh
  language: script
  args:
  - json-schemas
  require_serial: true

unit-tests:
  name: unit-tests
  entry: py.test
  args:
  - --exitfirst
  - --disable-warnings
  - tests/
  language: system
  pass_filenames: false

automerge instead of combine updates
  .github/workflows/combine-dependabot-prs.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-review.yml
Due: none

Test that more than one user can create submissions
  tests/integration/test_users.py
Due: unit-tests

Refactor integration tests to run with pytest
  .github/workflows/int.yml
  .pre-commit-config.yaml
  .pytest.ini
  CHANGELOG.md
  docs/dictionary/wordlist.txt
  docs/test.rst
  metadata_backend/api/handlers/submission.py
  requirements-dev.in
  requirements-dev.txt
  tests/integration/__init__.py
  tests/integration/clean_db.py
  tests/integration/conf.py
  tests/integration/conftest.py
  tests/integration/mongo.py
  tests/integration/run_tests.py
  tests/unit/__init__.py
  tests/unit/mockups.py
  tests/unit/test_auth.py
  tests/unit/test_conf.py
  tests/unit/test_db_service.py
  tests/unit/test_doi.py
  tests/unit/test_handlers.py
  tests/unit/test_health.py
  tests/unit/test_middlewares.py
  tests/unit/test_operators.py
  tests/unit/test_parser.py
  tests/unit/test_schema_loader.py
  tests/unit/test_server.py
  tox.ini
Due: pyspelling-docs, unit-tests

Split integration tests into multiple files.
  .github/workflows/int.yml
  tests/integration/conftest.py
  tests/integration/helpers.py
  tests/integration/mongo.py
  tests/integration/run_tests.py
  tests/integration/test_bigpicture.py
  tests/integration/test_drafts.py
  tests/integration/test_endpoints.py
  tests/integration/test_metax.py
  tests/integration/test_object.py
  tests/integration/test_publications.py
  tests/integration/test_queries.py
  tests/integration/test_submissions.py
  tests/integration/test_users.py
Due: unit-tests

Fix bp schema test, and fix couple of related bugs
  metadata_backend/api/handlers/submission.py
  tests/integration/conf.py
  tests/integration/mock_doi_api.py
  tests/integration/run_tests.py
Due: unit-tests

update pre-commit config dependencies
  .pre-commit-config.yaml
Due: none

fix typing Any where possible
  metadata_backend/api/health.py
  metadata_backend/api/operators.py
  metadata_backend/database/db_service.py
  metadata_backend/helpers/logger.py
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schema_loader.py
  metadata_backend/helpers/validator.py
  metadata_backend/services/retry.py
  metadata_backend/services/service_handler.py
  tox.ini
Due: unit-tests

remove unused code
  metadata_backend/__init__.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/user.py
  metadata_backend/api/operators.py
  metadata_backend/database/db_service.py
  tests/unit/test_db_service.py
  tests/unit/test_handlers.py
  tests/unit/test_operators.py
Due: unit-tests

removing ignored pylint as they were not valid
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/middlewares.py
Due: unit-tests

xml object was not deleted from the db
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/operators.py
Due: unit-tests

add command line options for nocleanup integ tests
  docs/dictionary/wordlist.txt
  docs/test.rst
  tests/integration/conftest.py
Due: pyspelling-docs, unit-tests

update changelog for fix type any & cleanup
  CHANGELOG.md
  docs/dictionary/wordlist.txt
Due: pyspelling-docs

Add examples of subject and fos to testfiles
  tests/test_files/doi/test_doi.json
  tests/test_files/metax/research_dataset.json
Due: unit-tests

Update metax mapping methods for subjects
  metadata_backend/services/metax_mapper.py
  scripts/metax_mappings/create_metax_references.py
  tests/test_files/metax/research_dataset.json
Due: unit-tests

Add tests for subject mapping
  .pyspelling.yml
  docs/dictionary/wordlist.txt
  metadata_backend/helpers/schemas/submission.json
  tests/integration/helpers.py
  tests/integration/test_metax.py
  tests/integration/test_object.py
  tests/test_metax_mapper.py
  tests/unit/test_parser.py
Due: pyspelling-schemas, unit-tests

Update changelog
  CHANGELOG.md
Due: pyspelling-docs

Update doiInfo schema
  docs/dictionary/wordlist.txt
  metadata_backend/helpers/schemas/submission.json
  tests/test_files/doi/test_doi.json
Due: pyspelling-schemas, unit-tests

Change where subject info is set and update docs
  docs/dictionary/wordlist.txt
  docs/specification.yml
  metadata_backend/api/handlers/submission.py
  metadata_backend/helpers/schemas/submission.json
  tests/test_files/doi/test_doi.json
Due: pyspelling-schemas, unit-tests

Add error handling to metax subject mapping
  metadata_backend/services/metax_mapper.py
  metadata_backend/services/metax_service_handler.py
Due: unit-tests

Include the generated reference files in this repo
  metadata_backend/conf/metax_references/fields_of_science.json
  metadata_backend/conf/metax_references/identifier_types.json
  metadata_backend/conf/metax_references/languages.json
Due: unit-tests

Remove git ignore on reference file
  .gitignore
Due: none

Path conditions:
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-schemas: any of: ^metadata_backend/helpers/schemas/ and \.json$
  unit-tests: any of: ^(metadata_backend|tests|scripts)
