Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort, pylint, pyspelling-docs, pyspelling-schemas

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, develop, --branch, master]
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
      files: ^metadata_backend
    - id: pretty-format-json
      files: ^metadata_backend
      args:
      - --autofix
      - --indent=4
      - --no-ensure-ascii
      - --no-sort-keys
    - id: check-yaml
    - id: check-xml
      exclude: tests/test_files/study/SRP000539_invalid[0-9]?.xml

  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
    - id: black
      args: [-l, "120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args: [--profile, black, --filter-files]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-docstrings
        - flake8-annotations

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
    - id: bandit
      files: ^metadata_backend

  - repo: https://github.com/APIDevTools/swagger-cli
    rev: v4.0.4
    hooks:
    - id: swagger-validation
      args: [validate]
      files: docs/openapi.yml

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.0
    hooks:
      - id: check-metaschema
        name: Validate schemas
        files: ^metadata_backend/helpers/schemas/.*\.json$

      - id: check-jsonschema
        name: Validate workflows
        files: ^metadata_backend/conf/workflows/.*\.json$
        args: ["--schemafile", "metadata_backend/helpers/schemas/workflow.json"]

      - id: check-dependabot
      - id: check-github-workflows

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.10'
    hooks:
    - id: vulture
      args: [metadata_backend/, whitelist_dead_code.py]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.8.0'
    hooks:
    -   id: mypy
        files: ^metadata_backend
        additional_dependencies:
          - types-python-dateutil
          - types-ujson
          - types-requests
        args: [--ignore-missing-imports]

  - repo: local
    hooks:
    - id: sort
      name: sort dictionary
      entry: ./scripts/dictionary/sort.sh
      language: script
      files: ^(docs|.*md)
      require_serial: true
      pass_filenames: false

    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      files: ^metadata_backend
      args:
        [
          -rn, # Only display messages
          -sn, # Don't display the score
        ]

    - id: pyspelling-docs
      name: pyspelling-docs
      entry: ./scripts/dictionary/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-schemas
      name: pyspelling-schemas
      entry: ./scripts/dictionary/pyspelling.sh
      language: script
      args: [json-schemas]
      files: ^metadata_backend/helpers/schemas/
      types: [json]
      require_serial: true

Add PID unit tests
  tests/unit/test_health.py
  tests/unit/test_pid.py
Due: none

Fix submissions without a study not getting published to Datacite
  metadata_backend/api/handlers/publish.py
  metadata_backend/services/datacite_service_handler.py
  metadata_backend/services/pid_ms_handler.py
  metadata_backend/services/service_handler.py
  tests/integration/test_publications.py
Due: pylint

Changelog bot 2025-03-31T15:29:11+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Update github actions workflows
  .github/workflows/codeql.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/int.yml
  .github/workflows/publish.yml
Due: none

Update analysis schema
  metadata_backend/helpers/schemas/SRA.analysis.xsd
Due: none

Update README and CONTRIBUTING
  CONTRIBUTING.md
  README.md
  docs/dictionary/wordlist.txt
Due: sort, pyspelling-docs

Update metax references and taxonomy names
  metadata_backend/conf/metax_references/funding_references.json
  metadata_backend/conf/metax_references/languages.json
  metadata_backend/conf/taxonomy_files/names.json
Due: none

Fix misspelled docstring
  metadata_backend/services/rems_service_handler.py
Due: pylint

Add link to internal contributing guides
  README.md
Due: sort, pyspelling-docs

Remove mentions of master branch
  .github/workflows/codeql.yml
  .github/workflows/production.yml
  dockerfiles/Dockerfile
  docs/submitter.rst
Due: sort, pyspelling-docs

Update dependencies
  requirements-dev.txt
  requirements.txt
Due: none

Fix Dockerfile script for building frontend in production
  README.md
  dockerfiles/Dockerfile
  metadata_backend/api/handlers/static.py
  tests/unit/test_server.py
Due: sort, pylint, pyspelling-docs

Changelog bot 2025-04-01T06:00:45+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Update all non-major dependencies
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/integration/mock_admin_api.py
  tests/integration/mock_auth.py
  tests/integration/mock_rems_api.py
Due: none

Fix running integration tests with GH actions
  .github/workflows/int.yml
Due: none

Changelog bot 2025-04-01T14:00:54+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Update OpenAPI specs
  .pre-commit-config.yaml
  docs/openapi.yml
  scripts/swagger/yaml-to-html.py
Due: sort

Update OpenAPI specs a bit more
  docs/openapi.yml
  metadata_backend/api/handlers/files.py
  metadata_backend/api/handlers/template.py
Due: sort, pylint

Refactor PUT requests to PATCH
  metadata_backend/api/handlers/submission.py
  metadata_backend/server.py
  tests/http/publication_bp.http
  tests/http/publication_minimal.http
  tests/http/publication_rems.http
  tests/integration/helpers.py
  tests/integration/test_bigpicture.py
  tests/integration/test_metax.py
  tests/integration/test_publications.py
  tests/integration/test_submissions.py
  tests/integration/test_users.py
  tests/unit/test_handlers.py
Due: pylint

Fix BP accession Id format
  docs/openapi.yml
  metadata_backend/api/handlers/files.py
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/operators/base.py
  metadata_backend/api/operators/file.py
  metadata_backend/api/operators/object.py
  metadata_backend/api/operators/object_base.py
  metadata_backend/api/operators/object_xml.py
  metadata_backend/conf/conf.py
  metadata_backend/conf/workflows/1_bigpicture.json
  tests/integration/helpers.py
  tests/integration/test_files.py
  tests/unit/test_operators.py
  tests/unit/test_workflows.py
Due: sort, pylint

Configure BP center ID as env variable
  .env.example
  metadata_backend/conf/conf.py
Due: pylint

Fix spelling for Bigpicture
  docs/BP_submission.md
  docs/openapi.yml
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/operators/base.py
  metadata_backend/api/operators/file.py
  metadata_backend/api/operators/object_xml.py
  metadata_backend/conf/conf.py
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/helpers/schemas/submission.json
  tests/http/publication_bp.http
  tests/integration/conftest.py
  tests/integration/helpers.py
  tests/integration/test_bigpicture.py
  tests/integration/test_files.py
Due: sort, pylint, pyspelling-docs, pyspelling-schemas

Changelog bot 2025-04-09T08:25:27+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Changelog bot 2025-04-14T14:30:55+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Update all non-major dependencies
  .github/workflows/docs.yml
  requirements-dev.txt
  requirements.txt
Due: none

Update dependency pyopenssl to v25
  requirements-dev.txt
  requirements.txt
Due: none

Update dependency aiohttp to v3.11.14
  metadata_backend/api/handlers/restapi.py
Due: pylint

Add clear error when trying to retrieve bprems from objects endpoints
  metadata_backend/api/handlers/object.py
  metadata_backend/conf/conf.py
  tests/unit/test_handlers.py
Due: pylint

Changelog bot 2025-04-17T12:18:31+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Poll admin API for verified file status and post accession IDs
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/conf/conf.py
  metadata_backend/services/admin_service_handler.py
  metadata_backend/services/service_handler.py
  tests/http/publication_bp.http
  tests/integration/helpers.py
  tests/integration/mock_admin_api.py
  tests/integration/test_submissions.py
Due: pylint

Changelog bot 2025-04-17T12:48:56+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Indicate that bprems cannot be deleted or modified through objects endpoints
  metadata_backend/api/handlers/object.py
  tests/unit/test_handlers.py
Due: pylint

Changelog bot 2025-04-23T10:01:25+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Use uv as project management tool. Changes to project build and test files. Remove GitHub workflows.
  .devcontainer/docker-compose.extend.yml
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/int.yml
  .github/workflows/production.yml
  .github/workflows/style.yml
  .github/workflows/unit.yml
  .github/workflows/wait_container.sh
  .gitignore
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .python-version
  README.md
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile-dev
  pyproject.toml
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  scripts/dictionary/pyspelling.sh
  tox.ini
  uv.lock
  vulture_whitelist.py
Due: sort, pyspelling-docs

Changelog bot 2025-04-29T07:28:35+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Fixed flake reported docstring issues.
  metadata_backend/helpers/logger.py
Due: pylint

Changelog bot 2025-04-30T11:42:31+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Update dependency pytest-cov to v6
  pyproject.toml
  uv.lock
Due: none

Update all non-major dependencies
  .python-version
  pyproject.toml
  uv.lock
Due: none

Update dependency xmlschema to v4
  pyproject.toml
  uv.lock
Due: none
