Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort, pylint, pyspelling-docs, pyspelling-schemas

sort:
  name: sort dictionary
  entry: ./scripts/dictionary/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

pyspelling-docs:
  name: pyspelling-docs
  entry: ./scripts/dictionary/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-schemas:
  name: pyspelling-schemas
  entry: ./scripts/dictionary/pyspelling.sh
  language: script
  args:
  - json-schemas
  require_serial: true

Reformat multi object xml content for storage
  metadata_backend/api/handlers/xml_submission.py
  metadata_backend/api/operators/object_xml.py
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/validator.py
  tests/unit/test_handlers.py
  tests/unit/test_operators.py
  tests/unit/test_parser.py
Due: pylint

Modify files deleted endpoint
  metadata_backend/api/handlers/files.py
  metadata_backend/server.py
  tests/integration/helpers.py
  tests/integration/test_files.py
  tests/unit/test_handlers.py
Due: pylint

Add new accession id automatically to BP xml content
  metadata_backend/api/operators/object_xml.py
  metadata_backend/helpers/parser.py
  tests/unit/test_parser.py
Due: pylint

Add unit and integration test cases
  metadata_backend/api/operators/object_xml.py
  metadata_backend/helpers/parser.py
  tests/integration/helpers.py
  tests/integration/test_bigpicture.py
  tests/integration/test_object.py
  tests/unit/test_parser.py
Due: pylint

Add the total size of files to Metax metadata
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/operators/file.py
  metadata_backend/services/metax_mapper.py
  metadata_backend/services/metax_service_handler.py
  tests/unit/test_metax_mapper.py
Due: pylint

Skip: Update dependency sphinxcontrib-qthelp to v2
  requirements-dev.txt
Due: none

Skip: Update all non-major dependencies
  requirements-dev.txt
  requirements.txt
Due: none

Remove study schema from BP workflow
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/operators/file.py
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/helpers/schemas/file.json
  metadata_backend/helpers/schemas/workflow.json
  tests/http/publication_bp.http
  tests/integration/test_bigpicture.py
Due: pylint, pyspelling-schemas

Update README
  README.md
  tests/unit/test_server.py
Due: sort, pyspelling-docs

Initial taxonomy search implementation
  docs/dictionary/wordlist.txt
  metadata_backend/conf/conf.py
  metadata_backend/conf/taxonomy_files/taxonomy_conf.py
  metadata_backend/server.py
  metadata_backend/services/taxonomy_search_handler.py
  scripts/taxonomy/create_names_json.py
  scripts/taxonomy/generate_name_taxonomy.sh
  scripts/taxonomy/taxonomy.py
  tests/unit/test_server.py
Due: sort, pylint

Update openapi docs
  docs/openapi.yml
Due: sort

Initial taxonomy search implementation
  metadata_backend/conf/taxonomy/create_taxonomy_name_file.py
Due: pylint

Add unit and integration tests for taxonomy search
  metadata_backend/conf/taxonomy/create_taxonomy_name_file.py
  tests/integration/conf.py
  tests/integration/helpers.py
  tests/integration/test_taxonomy_search.py
  tests/unit/test_taxonomy_search.py
Due: pylint

Add DELETE /files/{projectId} to openapi docs
  docs/openapi.yml
Due: sort

Verify file post request payload. Show more precise error field in JSON validation errors.
  metadata_backend/api/handlers/files.py
  metadata_backend/helpers/validator.py
Due: pylint

Fix posted file versioning. Return a dict after creating a file. Update tests.
  metadata_backend/api/operators/file.py
  tests/integration/test_files.py
  tests/unit/test_operators.py
Due: pylint

Add POST files to OpenAPI docs
  docs/openapi.yml
Due: sort

Update unit test error messages
  tests/unit/test_handlers.py
Due: none

Reset flagDeleted when new file version is posted
  metadata_backend/api/operators/file.py
  metadata_backend/database/db_service.py
  tests/unit/test_operators.py
Due: pylint

Define discovery service for workflows in the schemas
  metadata_backend/api/handlers/publish.py
  metadata_backend/conf/conf.py
  metadata_backend/conf/workflows/0_fega.json
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/conf/workflows/2_sdsx.json
  metadata_backend/helpers/schemas/workflow.json
  metadata_backend/helpers/workflow.py
  tests/integration/conf.py
  tests/integration/test_publications.py
Due: pylint, pyspelling-schemas

Use announce endpoint for BP submission testing
  tests/integration/conf.py
  tests/integration/helpers.py
  tests/integration/test_bigpicture.py
Due: none

Modify SDSX workflow to follow FEGA workflow
  metadata_backend/conf/workflows/2_sdsx.json
Due: none

Add missing schema check that disallowed multiple metadata objects of different schema
  metadata_backend/api/handlers/object.py
Due: pylint

Skip: Update dependency idpyoidc to v5
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update dependency sphinxcontrib-serializinghtml to v2
  requirements-dev.txt
Due: none

Skip: Update dependency test/setuptools to v72
  pyproject.toml
Due: none

Add markdown document for BP workflow
  docs/BP_submission.md
  docs/_static/bp-flowchart.svg
  docs/dictionary/wordlist.txt
  docs/openapi.yml
  tests/http/publication_bp.http
Due: sort, pyspelling-docs

Move taxonomy names json to git LFS
  .gitattributes
  metadata_backend/conf/taxonomy_files/names.json
Due: none

Skip: Update dependency honcho to v2
  requirements-dev.txt
Due: none

Remove unnecessary schemas
  metadata_backend/conf/workflows/2_sdsx.json
Due: none

Skip: Update dependency jsonschema-specifications to v2024
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update dependency markupsafe to v3
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update all non-major dependencies
  .github/workflows/docs.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

Fix mypy and linting errors
  .pylintrc
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/middlewares.py
  metadata_backend/server.py
  metadata_backend/services/service_handler.py
  tests/unit/test_db_service.py
  tests/unit/test_parser.py
Due: pylint

Path conditions:
  sort: any of: ^(docs|.*md)
  pylint: any of: ^metadata_backend and \.py$
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-schemas: any of: ^metadata_backend/helpers/schemas/ and \.json$
