Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling-docs, pyspelling-schemas, unit-tests

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, develop, --branch, master]
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
      files: ^metadata_backend
    - id: pretty-format-json
      files: ^metadata_backend
      args:
      - --autofix
      - --indent=4
      - --no-ensure-ascii
      - --no-sort-keys
    - id: check-yaml
    - id: check-xml
      exclude: tests/test_files/study/SRP000539_invalid[0-9]?.xml

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    - id: black
      args: [-l, "120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-docstrings
        - flake8-annotations

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    - id: mypy
      args: [--ignore-missing-imports, metadata_backend/]
      pass_filenames: false
      additional_dependencies:
        - types-python-dateutil
        - types-ujson
        - types-requests

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    - id: bandit
      files: ^metadata_backend

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle

  - repo: https://github.com/PyCQA/doc8
    rev: 0.11.2
    hooks:
      - id: doc8
        args: ["--max-line-length=400"]

  - repo: https://github.com/APIDevTools/swagger-cli
    rev: v4.0.4
    hooks:
    - id: swagger-validation
      args: [validate]
      files: docs/specification.yml

  - repo: local
    hooks:
    - id: pyspelling-docs
      name: pyspelling-docs
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-schemas
      name: pyspelling-schemas
      entry: ./scripts/pyspelling.sh
      language: script
      args: [json-schemas]
      files: ^metadata_backend/helpers/schemas/
      types: [json]
      require_serial: true

    - id: unit-tests
      name: unit-tests
      entry: py.test
      args: [--exitfirst, --disable-warnings, tests/]
      files: ^(metadata_backend|tests|scripts)
      language: system
      pass_filenames: false

Skip: Update dependency certifi to v2024
  requirements-dev.txt
  requirements.txt
Due: none

Update some code
  .env.example
Due: none

Skip: Update all non-major dependencies
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

fix sort problematic word submitter's
  docs/dictionary/wordlist.txt
  scripts/dictionary/sort.sh
Due: unit-tests

switch to idpyoidc
  .gitignore
  docs/dictionary/wordlist.txt
  metadata_backend/api/auth.py
  requirements-dev.txt
  requirements.in
  requirements.txt
  tests/integration/mock_auth.py
  tests/unit/test_auth.py
Due: unit-tests

fix mypy ci
  .pre-commit-config.yaml
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/middlewares.py
  metadata_backend/api/operators/object.py
  metadata_backend/database/db_service.py
  metadata_backend/helpers/parser.py
  metadata_backend/services/service_handler.py
Due: unit-tests

don't generate code docs for now
  docs/code.rst
  docs/submitter.rst
Due: pyspelling-docs

add typing-extensions module
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

remove duplicate mypy from pre-commit
  .pre-commit-config.yaml
Due: none

add deployment docs
  DEPLOYMENT.md
Due: pyspelling-docs

reference python 3.11
  README.md
  requirements-dev.txt
  requirements.txt
Due: pyspelling-docs

revert mypy in pre-commit and fix typing
  .pre-commit-config.yaml
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/health.py
  metadata_backend/api/middlewares.py
  metadata_backend/api/operators/base.py
  metadata_backend/api/operators/object.py
  metadata_backend/api/operators/object_base.py
  metadata_backend/api/operators/object_xml.py
  metadata_backend/api/operators/submission.py
  metadata_backend/api/operators/user.py
  metadata_backend/conf/conf.py
  metadata_backend/database/db_service.py
  metadata_backend/helpers/parser.py
  metadata_backend/services/service_handler.py
Due: unit-tests

Skip: Update all non-major dependencies
  .github/workflows/docs.yml
  requirements-dev.txt
  requirements.txt
Due: none

match new way for identifying state & client type in idpyoidc
  CHANGELOG.md
  metadata_backend/api/auth.py
  tests/unit/test_auth.py
Due: pyspelling-docs, unit-tests

Skip: Update dependency cryptography to v42.0.4 [SECURITY]
  requirements-dev.txt
  requirements.txt
Due: none

Skip: Update all non-major dependencies
  docker-compose-tls.yml
  docker-compose.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

disable R1737: Use 'yield from' directly instead of yielding
  .pre-commit-config.yaml
  metadata_backend/helpers/validator.py
Due: unit-tests

Update file generate.sh
  scripts/swagger/generate.sh
Due: unit-tests

Skip: Update dependency idpyoidc to v4
  requirements-dev.txt
  requirements.txt
Due: none
