Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling-docs, pyspelling-schemas, unit-tests

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, develop, --branch, master]
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
      files: ^metadata_backend
    - id: pretty-format-json
      files: ^metadata_backend
      args:
      - --autofix
      - --indent=4
      - --no-ensure-ascii
      - --no-sort-keys
    - id: check-yaml
    - id: check-xml
      exclude: tests/test_files/study/SRP000539_invalid[0-9]?.xml

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    - id: black
      args: [-l, "120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-docstrings
        - flake8-annotations

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    - id: mypy
      args: [--ignore-missing-imports, metadata_backend/]
      pass_filenames: false
      additional_dependencies:
        - types-python-dateutil
        - types-ujson
        - types-requests

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    - id: bandit
      files: ^metadata_backend

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle

  - repo: https://github.com/PyCQA/doc8
    rev: 0.11.2
    hooks:
      - id: doc8
        args: ["--max-line-length=400"]

  - repo: https://github.com/APIDevTools/swagger-cli
    rev: v4.0.4
    hooks:
    - id: swagger-validation
      args: [validate]
      files: docs/specification.yml

  - repo: local
    hooks:
    - id: pyspelling-docs
      name: pyspelling-docs
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-schemas
      name: pyspelling-schemas
      entry: ./scripts/pyspelling.sh
      language: script
      args: [json-schemas]
      files: ^metadata_backend/helpers/schemas/
      types: [json]
      require_serial: true

    - id: unit-tests
      name: unit-tests
      entry: py.test
      args: [--exitfirst, --disable-warnings, tests/]
      files: ^(metadata_backend|tests|scripts)
      language: system
      pass_filenames: false

Update typing as per PEP 585
  metadata_backend/api/handlers/common.py
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/handlers/rems_proxy.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/operators/file.py
  metadata_backend/api/operators/object.py
  metadata_backend/api/operators/object_base.py
  metadata_backend/api/operators/submission.py
  metadata_backend/api/operators/user.py
  metadata_backend/conf/conf.py
  metadata_backend/database/db_service.py
  metadata_backend/helpers/parser.py
  metadata_backend/services/retry.py
Due: unit-tests

Add renovate.json
  renovate.json
Due: none

Update all non-major dependencies
  metadata_backend/server.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: unit-tests

Update dependency anyio to v4
  requirements-dev.txt
  requirements.txt
Due: none

Update all non-major dependencies
  .github/workflows/docs.yml
  Dockerfile
  Dockerfile-dev
  docker-compose-tls.yml
  docker-compose.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

Add style and unit tests to gitlab ci/cd
  .gitlab-ci.yml
  Dockerfile-ci
  Dockerfile-dev
  docs/dictionary/wordlist.txt
Due: none

Update pre-commit packages
  .pre-commit-config.yaml
  requirements-dev.txt
Due: none

Move dockerfiles to own directory
  .github/workflows/production.yml
  .github/workflows/publish.yml
  .gitlab-ci.yml
  README.md
  docker-compose-tls.yml
  docker-compose.yml
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile-ci
  dockerfiles/Dockerfile-dev
  docs/deploy.rst
  docs/dictionary/wordlist.txt
Due: pyspelling-docs

Change mypy execution in pre-commit hooks
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

Switch to a CI image created in another repo
  .gitlab-ci.yml
  .pre-commit-config.yaml
  dockerfiles/Dockerfile-ci
Due: none

Fix dependency and linting issues
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/server.py
  requirements-dev.txt
  requirements.txt
Due: unit-tests

downgrade back to python 3.11
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile-dev
Due: none

Add rules for CI jobs
  .gitlab-ci.yml
Due: none

fix integration test event loop due to change in latest pytest-asyncio
  tests/integration/conftest.py
Due: unit-tests

Update dependency build to v1
  requirements-dev.txt
Due: none

Remove unittests from pre-commit hooks
  .pre-commit-config.yaml
Due: none

Upgrade pylint
  requirements-dev.txt
Due: none

Update dependency astroid to v3
  requirements-dev.txt
Due: none

Update dependency httpcore to v1
  requirements-dev.txt
  requirements.txt
Due: none

Update dependency docs/sphinx_rtd_theme to v2
  pyproject.toml
Due: none
