Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling-docs, pyspelling-schemas, unit-tests

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: no-commit-to-branch
      args: [--branch, develop, --branch, master]
    - id: check-ast
    - id: check-docstring-first
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
      files: ^metadata_backend
    - id: pretty-format-json
      files: ^metadata_backend
      args:
      - --autofix
      - --indent=4
      - --no-ensure-ascii
      - --no-sort-keys
    - id: check-yaml
    - id: check-xml
      exclude: tests/test_files/study/SRP000539_invalid[0-9]?.xml

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    - id: black
      args: [-l, "120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-docstrings
        - flake8-annotations

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    - id: mypy
      args: [--ignore-missing-imports, metadata_backend/]
      pass_filenames: false
      additional_dependencies:
        - types-python-dateutil
        - types-ujson
        - types-requests

  - repo:  https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    - id: bandit
      files: ^metadata_backend

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle

  - repo: https://github.com/PyCQA/doc8
    rev: 0.11.2
    hooks:
      - id: doc8
        args: ["--max-line-length=400"]

  - repo: https://github.com/APIDevTools/swagger-cli
    rev: v4.0.4
    hooks:
    - id: swagger-validation
      args: [validate]
      files: docs/specification.yml

  - repo: local
    hooks:
    - id: pyspelling-docs
      name: pyspelling-docs
      entry: ./scripts/pyspelling.sh
      language: script
      args: [markdown]
      types_or: [markdown, rst]
      require_serial: true

    - id: pyspelling-schemas
      name: pyspelling-schemas
      entry: ./scripts/pyspelling.sh
      language: script
      args: [json-schemas]
      files: ^metadata_backend/helpers/schemas/
      types: [json]
      require_serial: true

    - id: unit-tests
      name: unit-tests
      entry: py.test
      args: [--exitfirst, --disable-warnings, tests/]
      files: ^(metadata_backend|tests|scripts)
      language: system
      pass_filenames: false

add advanced healtcheck information to changelog
  CHANGELOG.md
Due: pyspelling-docs

refine condition for auto merge
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix json-schema lint action
  .github/workflows/docs.yml
Due: none

refine wordlist
  docs/dictionary/wordlist.txt
Due: none

bring changes from master
  .github/ISSUE_TEMPLATE/user_story.md
  .github/dependabot.yml
  CHANGELOG.md
Due: pyspelling-docs

update correct changelong
  CHANGELOG.md
Due: pyspelling-docs

pre-commit: update deps
  .pre-commit-config.yaml
Due: none

Add pre-commit check to sort dictionary.txt
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/dictionary/wordlist.txt
  scripts/sort.sh
Due: pyspelling-docs, unit-tests

add pre-commit and tox config for vulture
  .github/workflows/style.yml
  .pre-commit-config.yaml
  requirements-dev.in
  requirements-dev.txt
  tox.ini
  whitelist_dead_code.py
Due: none

rewrite server headers not to expose too much info
  metadata_backend/server.py
  tests/unit/test_server.py
Due: unit-tests

update contribution and changelog
  CHANGELOG.md
  CONTRIBUTING.md
Due: pyspelling-docs

Fix typo in user_story issue template
  .github/ISSUE_TEMPLATE/user_story.md
Due: pyspelling-docs

Create workflow definition and schema
  .pre-commit-config.yaml
  docs/dictionary/wordlist.txt
  metadata_backend/conf/schemas.json
  metadata_backend/conf/workflows/0_fega.json
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/conf/workflows/2_sdsx.json
  metadata_backend/helpers/schemas/workflow.json
  setup.py
  tests/unit/test_workflows.py
  tox.ini
Due: pyspelling-schemas, unit-tests

Create endpoints for fetching workflows
  CHANGELOG.md
  docs/specification.yml
  metadata_backend/api/handlers/restapi.py
  metadata_backend/conf/conf.py
  metadata_backend/server.py
  tests/integration/conf.py
  tests/integration/test_endpoints.py
  tests/unit/test_server.py
Due: pyspelling-docs, unit-tests

change logging style to {
  metadata_backend/helpers/logger.py
Due: unit-tests

reformat logs with % operator
  .pylintrc
  metadata_backend/api/auth.py
  metadata_backend/api/handlers/common.py
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/static.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/handlers/template.py
  metadata_backend/api/handlers/user.py
  metadata_backend/api/handlers/xml_submission.py
  metadata_backend/api/health.py
  metadata_backend/api/middlewares.py
  metadata_backend/api/operators.py
  metadata_backend/conf/conf.py
  metadata_backend/database/db_service.py
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/validator.py
  metadata_backend/server.py
  metadata_backend/services/datacite_service_handler.py
  metadata_backend/services/metax_mapper.py
  metadata_backend/services/metax_service_handler.py
  metadata_backend/services/rems_service_handler.py
  metadata_backend/services/retry.py
  metadata_backend/services/service_handler.py
  scripts/metax_mappings/create_metax_references.py
  tests/integration/helpers.py
  tests/integration/mock_doi_api.py
  tests/integration/mock_metax_api.py
  tests/unit/test_handlers.py
Due: unit-tests

enable fixme checks in pylint
  .pylintrc
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/operators.py
Due: unit-tests

enable useless-param-doc in pylint
  .pylintrc
  metadata_backend/api/auth.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/health.py
  metadata_backend/services/metax_service_handler.py
  metadata_backend/services/rems_service_handler.py
Due: unit-tests

enable suppressed-message check in pylint
  .pylintrc
Due: none

changelog for log formatting and pylint checks
  CHANGELOG.md
  docs/dictionary/wordlist.txt
Due: pyspelling-docs

Make changes generated by pre-commit
  .github/ISSUE_TEMPLATE/user_story.md
  .pre-commit-config.yaml
  metadata_backend/conf/metax_references/fields_of_science.json
  metadata_backend/conf/metax_references/languages.json
  metadata_backend/helpers/schemas/bp_bpsample.json
Due: pyspelling-docs, pyspelling-schemas, unit-tests

Add checks and tests for if submission is published
  CHANGELOG.md
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/handlers/xml_submission.py
  metadata_backend/api/operators.py
  tests/integration/helpers.py
  tests/integration/test_submissions.py
  tests/unit/test_operators.py
Due: pyspelling-docs, unit-tests
