Repository CSCfi/metadata-submitter: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort, pylint, pyspelling-docs, pyspelling-schemas

sort:
  name: sort dictionary
  entry: ./scripts/dictionary/sort.sh
  language: script
  require_serial: true
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

pyspelling-docs:
  name: pyspelling-docs
  entry: ./scripts/dictionary/pyspelling.sh
  language: script
  args:
  - markdown
  require_serial: true

pyspelling-schemas:
  name: pyspelling-schemas
  entry: ./scripts/dictionary/pyspelling.sh
  language: script
  args:
  - json-schemas
  require_serial: true

GET files returns only latest file versions
  metadata_backend/api/operators/file.py
Due: pylint

Skip: Update dependency pre-commit to v4
  requirements-dev.txt
Due: none

Skip: Update dependency docs/sphinx_rtd_theme to v3
  docs/conf.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: sort

Skip: Update all non-major dependencies
  .github/workflows/docs.yml
  dockerfiles/Dockerfile-dev
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

Added a mock of admin api
  Procfile
  docker-compose.yml
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  tests/integration/mock_admin_api.py
Due: none

Update dependency alabaster to v1
  requirements-dev.txt
Due: none

Update dependency cryptography to v43
  requirements-dev.txt
  requirements.txt
Due: none

Update all non-major dependencies
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

Download git lfs files in github actions
  .github/workflows/unit.yml
Due: none

Fix gitlab and github ci/cd issues
  .github/workflows/unit.yml
  .gitlab-ci.yml
Due: none

Fix rems.http template logic slightly
  tests/http/rems.http
Due: none

Validate and add REMS object to submission
  docs/openapi.yml
  metadata_backend/api/handlers/object.py
  metadata_backend/api/handlers/publish.py
  metadata_backend/api/handlers/rems_proxy.py
  metadata_backend/conf/workflows/2_sdsx.json
  metadata_backend/helpers/schemas/submission.json
  metadata_backend/services/rems_service_handler.py
  tests/http/rems.http
  tests/integration/mock_rems_api.py
  tests/integration/test_files.py
  tests/integration/test_metax.py
  tests/integration/test_publications.py
  tests/integration/test_submissions.py
  tests/unit/test_handlers.py
Due: sort, pylint, pyspelling-schemas

Changelog bot 2024-12-11T12:16:13+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Change wording to internal_rems for metadata objects
  metadata_backend/api/handlers/publish.py
  metadata_backend/helpers/schemas/submission.json
  tests/integration/test_publications.py
Due: pylint, pyspelling-schemas

Changelog bot 2024-12-11T12:53:50+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Updated changelog
  CHANGELOG.md
  docs/dictionary/wordlist.txt
Due: sort, pyspelling-docs

Fix taxonomy generator script permissions
  scripts/taxonomy/generate_name_taxonomy.sh
Due: none

Fix docker casing warnings
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile-dev
Due: none

Changelog bot 2025-01-29T07:32:32+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Add /ingest endpoint
  .env.example
  docs/openapi.yml
  metadata_backend/api/auth.py
  metadata_backend/api/handlers/restapi.py
  metadata_backend/api/handlers/submission.py
  metadata_backend/api/health.py
  metadata_backend/conf/conf.py
  metadata_backend/server.py
  metadata_backend/services/admin_service_handler.py
  metadata_backend/services/datacite_service_handler.py
  metadata_backend/services/metax_service_handler.py
  metadata_backend/services/rems_service_handler.py
  metadata_backend/services/service_handler.py
  tests/integration/conf.py
  tests/integration/conftest.py
  tests/integration/helpers.py
  tests/integration/mock_admin_api.py
  tests/integration/test_submissions.py
  tests/unit/test_health.py
  tests/unit/test_server.py
Due: sort, pylint

Update dependency attrs to v25
  requirements-dev.txt
  requirements.txt
Due: none

Update dependency black to v25
  requirements-dev.txt
Due: none

Fix tests failure
  metadata_backend/api/handlers/restapi.py
  tests/integration/conftest.py
  tests/integration/mock_admin_api.py
  tests/integration/test_submissions.py
  tests/unit/test_health.py
Due: pylint

Changelog bot 2025-02-07T17:54:27+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Update all non-major dependencies
  .github/workflows/docs.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

Update dependency certifi to v2025
  requirements-dev.txt
  requirements.txt
Due: none

Update dependency aiohappyeyeballs to v2.4.6
  requirements-dev.txt
  requirements.txt
Due: none

Update dependency aiohttp to v3.11.12
  requirements-dev.txt
  requirements.txt
Due: none

Update XML to JSON conversion
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schema_loader.py
Due: pylint

Update bigpicture related test cases
  tests/http/publication_bp.http
  tests/integration/conf.py
  tests/integration/test_bigpicture.py
  tests/integration/test_object.py
  tests/test_files/bpdataset/dataset.json
  tests/test_files/bpdataset/dataset.xml
  tests/test_files/bpdataset/template_dataset.xml
  tests/test_files/bpimage/image.json
  tests/test_files/bpimage/images_multi.xml
  tests/test_files/bpimage/images_single.xml
  tests/test_files/bpobservation/observation.json
  tests/test_files/bpobservation/observations.xml
  tests/test_files/bpsample/sample.json
  tests/test_files/bpsample/samples.xml
  tests/test_files/bpsample/template_samples.xml
  tests/test_files/bpstaining/staining.json
  tests/test_files/bpstaining/stainings.xml
  tests/unit/test_parser.py
Due: none

Implement REMS schema conversion
  docs/dictionary/wordlist.txt
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schemas/bprems.json
  tests/test_files/bprems/rems.json
  tests/test_files/bprems/rems.xml
  tests/unit/test_parser.py
Due: sort, pylint, pyspelling-schemas

Upgrade BP metadata schemas
  docs/dictionary/wordlist.txt
  metadata_backend/conf/schemas.json
  metadata_backend/helpers/schemas/BP.annotation.xsd
  metadata_backend/helpers/schemas/BP.bpannotation.xsd
  metadata_backend/helpers/schemas/BP.bpdataset.xsd
  metadata_backend/helpers/schemas/BP.bplandingpage.xsd
  metadata_backend/helpers/schemas/BP.bpobservation.xsd
  metadata_backend/helpers/schemas/BP.bpobserver.xsd
  metadata_backend/helpers/schemas/BP.bporganisation.xsd
  metadata_backend/helpers/schemas/BP.bppolicy.xsd
  metadata_backend/helpers/schemas/BP.bprems.xsd
  metadata_backend/helpers/schemas/BP.bpsample.xsd
  metadata_backend/helpers/schemas/BP.bpstaining.xsd
  metadata_backend/helpers/schemas/BP.common.xsd
  metadata_backend/helpers/schemas/bp_bpdataset.json
  metadata_backend/helpers/schemas/bp_bpimage.json
  metadata_backend/helpers/schemas/bp_bpobservation.json
  metadata_backend/helpers/schemas/bp_bpsample.json
  metadata_backend/helpers/schemas/bp_bpstaining.json
  metadata_backend/helpers/schemas/bpannotation.json
  metadata_backend/helpers/schemas/bpdataset.json
  metadata_backend/helpers/schemas/bpimage.json
  metadata_backend/helpers/schemas/bplandingpage.json
  metadata_backend/helpers/schemas/bpobservation.json
  metadata_backend/helpers/schemas/bpobserver.json
  metadata_backend/helpers/schemas/bporganisation.json
  metadata_backend/helpers/schemas/bppolicy.json
  metadata_backend/helpers/schemas/bpsample.json
  metadata_backend/helpers/schemas/bpstaining.json
  metadata_backend/helpers/schemas/ena_study.json
  tests/unit/test_handlers.py
Due: sort, pyspelling-schemas

Update pre-commit hook versions
  .pre-commit-config.yaml
Due: none

Remove duplicate edge cases
  metadata_backend/helpers/parser.py
Due: pylint

Remove unnecessary json test files
  tests/test_files/bpdataset/dataset.json
  tests/test_files/bpimage/image.json
  tests/test_files/bpobservation/observation.json
  tests/test_files/bprems/rems.json
  tests/test_files/bpsample/sample.json
  tests/test_files/bpstaining/staining.json
Due: none

Changelog bot 2025-02-26T08:10:24+00:00 [ci skip]
  CHANGELOG.md
Due: sort, pyspelling-docs

Enable submission of annotation and observer metadata via XML
  docs/dictionary/wordlist.txt
  metadata_backend/conf/schemas.json
  metadata_backend/conf/workflows/1_bigpicture.json
  metadata_backend/helpers/parser.py
  metadata_backend/helpers/schemas/bpannotation.json
  metadata_backend/helpers/schemas/bpobserver.json
  tests/integration/conf.py
  tests/integration/test_object.py
  tests/test_files/bpannotation/annotation.json
  tests/test_files/bpannotation/annotations.xml
  tests/test_files/bpobserver/observer.json
  tests/test_files/bpobserver/observers.xml
  tests/unit/test_parser.py
Due: sort, pylint, pyspelling-schemas

Update EGA related schemas
  metadata_backend/helpers/schemas/ENA.assembly.xsd
  metadata_backend/helpers/schemas/ENA.checklist.xsd
  metadata_backend/helpers/schemas/ENA.project.xsd
  metadata_backend/helpers/schemas/SRA.analysis.xsd
  metadata_backend/helpers/schemas/SRA.common.xsd
  metadata_backend/helpers/schemas/SRA.experiment.xsd
  metadata_backend/helpers/schemas/SRA.receipt.xsd
  metadata_backend/helpers/schemas/SRA.run.xsd
Due: none

Update dependency aiohttp to v3.11.13
  requirements-dev.txt
  requirements.txt
Due: none

Path conditions:
  sort: any of: ^(docs|.*md)
  pylint: any of: ^metadata_backend and \.py$
  pyspelling-docs: any of: \.(md|markdown|mdown)$, \.rst$
  pyspelling-schemas: any of: ^metadata_backend/helpers/schemas/ and \.json$
